{% doc %}
  Renders an Alert component.

  @param {string} [heading] - The heading of the alert.
  @param {string} [text] - The text of the alert.
  @param {string} [variant] - The variant of the alert. Defaults to info.
{% enddoc %}

{% assign variant = variant | default: 'info' %}

{% case variant %}
  {% when 'warning' %}
    {% assign icon_handle = 'triangle-alert' %}

  {% when 'critical' %}
    {% assign icon_handle = 'octagon-alert' %}

  {% when 'success' %}
    {% assign icon_handle = 'check' %}

  {% when 'info' %}
    {% assign icon_handle = 'info' %}
{% endcase %}

<div
  class="
    Alert
    Alert--{{ variant | camelcase }}
  "
>
  {% render 'icon', icon: icon_handle %}

  <div>
    {% if heading %}
      {% render 'text', text: heading, as: 'strong', color: variant %}
    {% endif %}

    {% if text %}
      {% render 'text', text: text, color: variant %}
    {% endif %}
  </div>
</div>

{% stylesheet %}
  .Alert {
    display: flex;
    align-items: center;
    padding: var(--size-s) var(--size-m);
    gap: var(--size-m);
  }

  .Alert--Info {
    background-color: var(--color-info-surface);
    color: var(--color-info-text);
  }

  .Alert--Warning {
    background-color: var(--color-warning-surface);
    color: var(--color-warning-text);
  }

  .Alert--Critical {
    background-color: var(--color-destructive-surface);
    color: var(--color-destructive-text);
  }

  .Alert--Success {
    background-color: var(--color-success-surface);
    color: var(--color-success-text);
  }
{% endstylesheet %}
