{% doc %}
  Renders a Badge component.

  @param {string} [text] - Badge text
  @param {string} [content] - Badge content
  @param {string} [variant] - Badge variant ('sale', 'discount')
  @param {string} [size] - The size of the badge ('small').
{% enddoc %}

{% assign badge_text_color = 'primary' %}
{% if variant == 'sale' %}
  {% assign badge_text_color = 'sale' %}
{% elsif variant == 'discount' %}
  {% assign badge_text_color = 'inherit' %}
{% endif %}

<div
  class="
    Badge
    {% if variant %}
      Badge--Variant{{ variant | camelcase }}
    {% endif %}
    {% if size %}
      Badge--Size{{ size | camelcase }}
    {% endif %}
  "
>
  {% if text %}
    {% if size == 'small' %}
      {% assign text_variant = 'body-small' %}
    {% endif %}

    {% render 'text', text: text, color: badge_text_color, variant: text_variant %}
  {% endif %}

  {{ content }}
</div>

{% stylesheet %}
  .Badge {
    padding: var(--size-xxs) var(--size-xs);
    border: var(--border-width) var(--border-style) var(--t-border);
    width: fit-content;
    background-color: var(--t-background-light);
  }

  .Badge--VariantSale {
    background-color: var(--t-primary);
  }

  .Badge--VariantDiscount {
    background-color: var(--t-info);
    color: var(--t-highlight);
  }

  .Badge--SizeSmall {
    padding: 0 var(--size-xxs);
  }
{% endstylesheet %}
