{% doc %}
  Renders a Badge component.

  @param {string} text - Badge text
  @param {string} [variant] - Badge variant ('sale')
{% enddoc %}

{% assign badge_text_color = 'primary' %}
{% if variant == 'sale' %}
  {% assign badge_text_color = 'sale' %}
{% endif %}

<div class="Badge{% if variant == 'sale' %} Badge--Sale{% endif %}">
  {% render 'text', text: text, color: badge_text_color %}
</div>

{% stylesheet %}
  .Badge {
    padding: var(--size-xs) var(--size-s);
    border: var(--border-width) var(--border-style) var(--t-border);
    width: fit-content;
    background-color: var(--t-background-light);
  }

  .Badge--Sale {
    background-color: var(--t-primary);
  }
{% endstylesheet %}
