{% doc %}
  Button

  @param {string} [text] - Button text
  @param {string} [variant] - Button variant ('primary', 'secondary', 'icon')
  @param {string} [icon] - Icon handle
  @param {string} [action] - The action attribute
{% enddoc %}

{% assign variant = variant | default: 'primary' %}

<button
  class="Button{% if variant %} Button--{{ variant | camelcase }}{% endif %}"
  {% if action %}
    data-action="{{ action }}"
  {% endif %}
>
  {% if text %}
    {{ text }}
  {% endif %}

  {% if icon %}
    {% render 'icon', icon: icon %}
  {% endif %}
</button>

{% stylesheet %}
  .Button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: var(--padding-block) var(--padding-inline);
    color: var(--text-color);
    background-color: var(--background-color);
    border: var(--border-width) var(--border-style) var(--border-color);
    border-radius: var(--button-border-radius);
    box-shadow: var(--box-shadow);
    font-size: var(--button-font-size);
    font-weight: var(--button-font-weight);
    text-transform: uppercase;
    letter-spacing: var(--button-letter-spacing);
    user-select: none;
    transition: var(--transition-duration) var(--transition-timing);
  }

  .Button:hover {
    background-color: var(--background-color-hover);
    color: var(--text-color-hover);
    border-color: var(--border-color-hover);
  }

  .Button--Primary,
  .Button--Secondary {
    --padding-block: var(--size-m);
    --padding-inline: var(--size-xl);
  }

  .Button--Primary {
    --background-color: var(--primary-button-background);
    --background-color-hover: var(--primary-button-background-hover);
    --text-color: var(--primary-button-text);
    --text-color-hover: var(--primary-button-text-hover);
    --border-color: var(--primary-button-border);
    --border-color-hover: var(--primary-button-border-hover);
  }

  .Button--Secondary {
    --background-color: var(--secondary-button-background);
    --background-color-hover: var(--secondary-button-background-hover);
    --text-color: var(--secondary-button-text);
    --text-color-hover: var(--secondary-button-text-hover);
    --border-color: var(--secondary-button-border);
    --border-color-hover: var(--secondary-button-border-hover);
  }

  .Button--Icon {
    --padding-block: var(--size-xs);
    --padding-inline: var(--size-xs);
  }

  .Button[disabled] {
    opacity: 0.25;
  }
{% endstylesheet %}
