<div is="cart-drawer-component" class="CartDrawer">
  <div class="CartDrawer__Content">
    {% if cart.empty? %}
      {% render 'empty-state',
        heading: section.settings.empty_state_heading,
        text: section.settings.empty_state_text,
        link: section.settings.empty_state_link,
        link_text: section.settings.empty_state_link_text
      %}
    {% else %}
      <ul class="CartDrawer__LineItems u-NoList">
        {% for line_item in cart.items %}
          <li class="CartDrawer__LineItem">
            {% render 'line-item',
              title: line_item.title,
              image: line_item.image,
              price: line_item.price,
              compare_at_price: line_item.compare_at_price,
              quantity: line_item.quantity,
              total: line_item.total_price,
              url: line_item.url,
              key: line_item.key
            %}
          </li>
        {% endfor %}
      </ul>
    {% endif %}
  </div>
</div>
