{% doc %}
  Renders a Cart Drawer Component.

  @param {boolean} enable_free_shipping_alert - Whether to render free shipping alert.
  @param {string} free_shipping_remaining_text - The text to show in the alert when free shipping is not yet reached.
  @param {string} free_shipping_reached_text - The text to show in the alert when free shipping is reached.
  @param {string} empty_state_heading - The heading of the empty state.
  @param {string} empty_state_text - The text of the empty state.
  @param {string} empty_state_link - The link of the empty state.
  @param {string} empty_state_link_text - The link text of the empty state.
{% enddoc %}

{% assign enable_free_shipping_alert = enable_free_shipping_alert | default: true, allow_false: true %}

<div is="cart-drawer-component" class="CartDrawer">
  {% if cart.empty? %}
    {% render 'empty-state',
      heading: empty_state_heading,
      text: empty_state_text,
      link: empty_state_link,
      link_text: empty_state_link_text
    %}
  {% else %}
    <div class="CartDrawer__Content u-NoScrollbar">
      {% if settings.free_shipping_threshold != blank
        and settings.free_shipping_threshold != 0
        and enable_free_shipping_alert
      %}
        {% assign remaining_amount = settings.free_shipping_threshold | minus: cart.total_price %}

        {% if remaining_amount <= 0 %}
          {% assign text = free_shipping_reached_text %}
          {% assign variant = 'success' %}
        {% else %}
          {% assign remaining_amount_money = remaining_amount | money %}
          {% assign text = free_shipping_remaining_text | replace: '%REMAINING%', remaining_amount_money %}
        {% endif %}

        {% render 'alert', text: text, variant: variant %}
      {% endif %}

      <ul class="CartDrawer__LineItems u-NoList">
        {% for line_item in cart.items %}
          <li class="CartDrawer__LineItem">
            {% render 'line-item',
              product_title: line_item.product.title,
              variant_title: line_item.variant.title,
              image: line_item.image,
              price: line_item.variant.price,
              compare_at_price: line_item.variant.compare_at_price,
              quantity: line_item.quantity,
              url: line_item.url,
              key: line_item.key
            %}
          </li>
        {% endfor %}
      </ul>
    </div>

    <div class="CartDrawer__Summary">
      <div class="CartDrawer__SummaryLines">
        <div class="CartDrawer__SummaryLine">
          {% assign subtotal_text = 'global.subtotal' | t | append: ':' %}
          {% render 'text', text: subtotal_text %}

          {% assign formatted_total_price = cart.total_price | money %}
          {% render 'text', text: formatted_total_price %}
        </div>

        <div class="CartDrawer__SummaryLine">
          {% assign shipping_text = 'global.shipping' | t | append: ':' %}
          {% render 'text', text: shipping_text %}

          {% if settings.free_shipping_threshold != blank
            and settings.free_shipping_threshold != 0
            and cart.total_price >= settings.free_shipping_threshold
          %}
            {% assign text = 'global.free' | t %}
            {% assign color = 'success' %}
          {% else %}
            {% assign text = 495 | money %}
          {% endif %}

          {% render 'text', text: text, color: color %}
        </div>
      </div>

      {% render 'button', text: 'checkout', url: '/checkout' %}
    </div>
  {% endif %}
</div>

{% stylesheet %}
  .CartDrawer {
    display: flex;
    flex-direction: column;
    gap: var(--size-m);
    height: 100%;
  }

  .CartDrawer:has(.EmptyState) {
    align-items: center;
    justify-content: center;
  }

  .CartDrawer__Content {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: var(--size-m);
    overflow-y: auto;
  }

  .CartDrawer__LineItems {
    display: flex;
    flex-direction: column;
    gap: var(--size-m);
  }

  .CartDrawer__Summary {
    display: flex;
    flex-direction: column;
    gap: var(--size-m);
    margin-top: auto;
    padding: var(--size-m) 0 0;
    border-top: var(--border-width) var(--border-style) var(--t-border);
  }

  .CartDrawer__SummaryLine {
    display: flex;
    justify-content: space-between;
  }

  .CartDrawer__SummaryLines {
    display: flex;
    flex-direction: column;
    gap: var(--size-s);
  }
{% endstylesheet %}
