{% doc %}
  Renders a Comment component.

  @param {string} name - The name of the comment author.
  @param {string} created_at - The creation date of the comment.
  @param {string} text - The text content of the comment.
{% enddoc %}

<div class="Comment">
  <div class="Comment__Header">
    {% liquid
      assign name_parts = name | split: ' '
      assign first_initial = name_parts[0] | slice: 0
      assign second_initial = name_parts[1] | slice: 0
      assign initials = first_initial | append: second_initial
    %}

    {% render 'avatar', initials: initials, size: 'medium' %}

    <div class="Comment__Details">
      {% render 'text', text: name, as: 'strong' %}

      {% capture passed_time_formatted %}
        {% render 'passed-time', created_at: created_at %}
      {% endcapture %}

      {% render 'text', text: passed_time_formatted, variant: 'body-small' %}
    </div>
  </div>

  <div class="Comment__Content">
    {% render 'text', text: text %}
  </div>
</div>

{% stylesheet %}
  .Comment {
    display: flex;
    flex-direction: column;
    gap: var(--size-m);
  }

  .Comment__Header {
    display: flex;
    align-items: center;
    gap: var(--size-m);
  }

  .Comment__Details {
    display: flex;
    flex-direction: column;
  }
{% endstylesheet %}
