{% doc %}
  Renders a Comment component.

  @param {string} avatar - The image object of the comment author's avatar.
  @param {string} name - The name of the comment author.
  @param {string} created_at - The creation date of the comment.
  @param {string} text - The text content of the comment.
{% enddoc %}

<div class="Comment"></div>
