{% doc %}
  Renders a Dropdown Content component.

  @param {string} handle - Connects the dropdown content with a dropdown trigger.
  @param {string} content - The content.
{% enddoc %}

<div is="dropdown-content-component" class="DropdownContent" data-handle="{{ handle }}">
  {{ content }}
</div>

{% stylesheet %}
  .DropdownContent {
    display: none;
    padding: var(--size-m);
    border: var(--border-width) var(--border-style) var(--t-border);
    border-radius: var(--t-border-radius);
    background: var(--t-background);
  }

  .DropdownContent--Active {
    display: block;
  }
{% endstylesheet %}
