<div class="DropdownContent">
  <ul class="DropdownContent__Inputs u-NoList">
    <li class="DropdownContent__InputItem">
      <input type="checkbox" name="" id="">
      {% render 'text', text: '10 cm (niedrig)' %}
    </li>

    <li class="DropdownContent__InputItem">
      <input type="checkbox" name="" id="">
      {% render 'text', text: '15 cm (standard)' %}
    </li>

    <li class="DropdownContent__InputItem">
      <input type="checkbox" name="" id="">
      {% render 'text', text: '20 cm (hoch)' %}
    </li>
  </ul>

  <div class="DropdownContent__Button">
    {% render 'button', content: 'Filter zurücksetzen' %}
  </div>
</div>

{% stylesheet %}
  .DropdownContent {
    display: flex;
    flex-direction: column;
    gap: var(--size-m);
    padding: var(--size-m);
    border: var(--border-width) var(--border-style) var(--t-border);
    border-radius: var(--t-border-radius);
    background: var(--t-background);
  }

  .DropdownContent__Inputs {
    display: flex;
    flex-direction: column;
    gap: var(--size-s);
  }

  .DropdownContent__InputItem {
    display: flex;
    align-items: center;
    gap: var(--size-s);
  }
{% endstylesheet %}
