{% doc %}
  Renders a Dynamic Wishlist Icon component. It automatically updates the wishlist indicator text based on the wishlist item count.

  @param {string} url - The wishlist page URL.
{% enddoc %}

<div is="dynamic-wishlist-icon-component" class="DynamicWishlistIcon">
  {% render 'button',
    icon: 'heart',
    url: url,
    variant: 'plain',
    size: 'small',
    aria_label_key: 'components.wishlist_button.aria_label',
    attributes: 'data-wishlist-page-button'
  %}

  <span class="DynamicWishlistIcon__Indicator">
    {% render 'text', text: '', variant: 'body-small', color: 'inherit', as: 'b' %}
  </span>
</div>

{% stylesheet %}
  .DynamicWishlistIcon {
    position: relative;
  }

  .DynamicWishlistIcon__Indicator {
    position: absolute;
    display: none;
    align-items: center;
    justify-content: center;
    top: 0;
    right: 0;
    width: 1rem;
    height: 1rem;
    background-color: var(--t-primary);
    border-radius: 50%;
    color: var(--t-background-dark);
    pointer-events: none;
  }

  .DynamicWishlistIcon__Indicator--Active {
    display: flex;
  }
{% endstylesheet %}
