{% doc %}
  Renders a Dynamic Cart Icon component. It automatically updates the cart indicator text based on the cart item count.
{% enddoc %}

<dynamic-cart-icon-component class="DynamicCartIcon">
  {% render 'button',
    variant: 'plain',
    icon: 'shopping-cart',
    action: 'open-drawer:cart',
    size: 'small',
    aria_label_key: 'components.shopping_cart_button.aria_label'
  %}

  <div
    class="
      DynamicCartIcon__Indicator
      {% if cart.item_count > 0 %}
        DynamicCartIcon__Indicator--Active
      {% endif %}
    "
  >
    {% render 'count-indicator', count: cart.item_count %}
  </div>
</dynamic-cart-icon-component>

{% stylesheet %}
  .DynamicCartIcon {
    position: relative;
  }

  .DynamicCartIcon__Indicator {
    position: absolute;
    display: none;
    top: 0;
    right: 0;
    pointer-events: none;
  }

  .DynamicCartIcon__Indicator--Active {
    display: flex;
  }
{% endstylesheet %}
