{% doc %}
  Renders a Dynamic Cart Icon component. It automatically updates the cart indicator text based on the cart item count.
{% enddoc %}

<dynamic-cart-icon-component class="DynamicCartIcon">
  {% render 'button',
    variant: 'plain',
    icon: 'shopping-cart',
    action: 'open-drawer:cart',
    size: 'small',
    aria_label_key: 'components.shopping_cart_button.aria_label'
  %}

  <span
    class="
      DynamicCartIcon__Indicator
      {% if cart.item_count > 0 %}
        DynamicCartIcon__Indicator--Active
      {% endif %}
    "
  >
    {% render 'text', text: cart.item_count, variant: 'body-small', color: 'inherit', as: 'b' %}
  </span>
</dynamic-cart-icon-component>

{% stylesheet %}
  .DynamicCartIcon {
    position: relative;
  }

  .DynamicCartIcon__Indicator {
    position: absolute;
    display: none;
    align-items: center;
    justify-content: center;
    top: 0;
    right: 0;
    width: var(--size-m);
    height: var(--size-m);
    background-color: var(--t-primary);
    border-radius: var(--t-border-radius-circle);
    color: var(--t-background-dark);
    pointer-events: none;
  }

  .DynamicCartIcon__Indicator--Active {
    display: flex;
  }
{% endstylesheet %}
