{% doc %}
  Renders a Filters Component.

  @param {object[]} filters - Array of liquid filter objects.
  @param {boolean} filters_active - Whether any filter is active.
{% enddoc %}

{% liquid
  assign active_count_summary = 0
  for filter in filters
    assign active_count_summary = active_count_summary | plus: filter.active_values.size
  endfor
%}

<div class="Filters u-Hidden--Mobile">
  <div class="Filters__Row">
    {% for filter in filters %}
      {% render 'filter', filter: filter %}
    {% endfor %}

    <div class="Filters__SortBy">
      {% render 'sort-by', handle: 'sort-by' %}
    </div>
  </div>

  {% if filters_active %}
    <div class="Filters__Row">
      <ul class="Filters__ActiveValues u-NoList">
        {% for filter in filters %}
          {% for filter_value in filter.active_values %}
            <li>
              {% render 'active-filter-value', filter_value: filter_value %}
            </li>
          {% endfor %}
        {% endfor %}
      </ul>

      {% capture reset_button_content %}
        {% render 'icon', icon: 'rotate-ccw', size: 'small' %}

        {% assign text = 'components.filter.reset_all_filters' | t %}
        {% render 'text', text: text %}
      {% endcapture %}
      {% render 'button', variant: 'plain', size: 'small', content: reset_button_content, url: collection.url %}
    </div>
  {% endif %}
</div>

{% assign mobile_filter_drawers = '' %}

<div class="FiltersMobile u-Hidden--Desktop">
  {% capture filters_button_content %}
    {% assign filters_button_text = 'components.filter.filters' | t %}
    {% render 'text', text: filters_button_text, as: 'b' %}

    {% if active_count_summary > 0 %}
      <div class="FiltersMobile__ActiveCount">
        {% render 'text', text: active_count_summary, as: 'b', variant: 'body-small' %}
      </div>
    {% endif %}

    {% render 'icon', icon: 'sliders-horizontal' %}
  {% endcapture %}

  {% render 'button',
    content: filters_button_content,
    action: 'open-drawer:filters-mobile',
    variant: 'plain',
    size: 'small'
  %}

  {% render 'sort-by', handle: 'sort-by-mobile' %}

  {% capture content %}
    <ul class="FiltersMobile__Drawer u-NoList">
      
      {% for filter in filters %}
        {% assign filter_handle = filter.label | handleize %}
        {% assign filter_drawer_name = 'filter-drawer-' | append: filter_handle %}
        {% assign active_count = filter.active_values.size %}

        <li>
          {% capture filter_button_content %}
            <div class="FiltersMobile__Item">
              <div class="FiltersMobile__ItemLeft">
              {% render 'text', text: filter.label, as: 'b' %}

              {% if active_count > 0 %}
                <div class="FiltersMobile__ActiveCount">
                  {% render 'text', text: active_count, as: 'b', variant: 'body-small' %} 
                </div>     
              {% endif %}

              </div>
              
              {% render 'icon', icon: 'chevron-right' %}
            </div>
          {% endcapture %}
          
          {% assign action = 'open-drawer:' | append: filter_drawer_name %}
          {% render 'button', content: filter_button_content, variant: 'plain', size: 'small', full_width: true, action: action %}
        </li>

        {% capture filter_drawer_content %} 
          <ul
            class="
              Filter__Values
              {% if filter.presentation == 'text' or filter.presentation == nil %}
                Filter__Values--Vertical
              {% endif %}
              u-NoList
            "
          >
            {% for filter_value in filter.values %}
              {% assign is_filter_value_disabled = false %}
              {% if filter_value.count < 1 %}
                {% assign is_filter_value_disabled = true %}
              {% endif %}
              <li>
                {% render 'filter-value', filter_value: filter_value, disabled: is_filter_value_disabled %}
              </li>
            {% endfor %}
          </ul>
        {% endcapture %}

        {% capture filter_drawer %}
          {% render 'drawer', heading: filter.label, name: filter_drawer_name, content: filter_drawer_content, from: 'left' %}
        {% endcapture %}

        {% assign mobile_filter_drawers = mobile_filter_drawers | append: filter_drawer %}
      {% endfor %}
    </ul>
  {% endcapture %}

  {% render 'drawer', heading: 'Filters', name: 'filters-mobile', content: content, from: 'left' %}

  {{ mobile_filter_drawers }}
</div>

{% stylesheet %}
  .Filters {
    display: flex;
    flex-direction: column;
    gap: var(--size-xs);
  }

  .Filters__Row {
    display: flex;
    align-items: center;
    gap: var(--size-m);
  }

  .Filters__ActiveValues {
    display: flex;
    gap: var(--size-xs);
  }

  .Filters__SortBy {
    margin-left: auto;
  }

  .FiltersMobile {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: var(--size-xs);
  }

  .FiltersMobile__Drawer {
    display: flex;
    flex-direction: column;
    gap: var(--size-m);
  }

  .FiltersMobile__Item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: var(--size-xs);
    width: 100%;
  }

  .FiltersMobile__ItemLeft {
    display: flex;
    align-items: center;
    gap: var(--size-xxs);
  }

  .FiltersMobile__ActiveCount {
    display: flex;
    align-items: center;
    justify-content: center;
    width: var(--size-m);
    height: var(--size-m);
    background-color: var(--t-primary);
    border-radius: var(--t-border-radius-circle);
  }

  .FiltersMobile__ActiveCount b {
    color: var(--t-background-dark);
  }
{% endstylesheet %}
