{% doc %}
  Renders a Filter Value component.

  @param {object} filter_value - The liquid filter value object.
{% enddoc %}

{% if filter_value.active %}
  {% assign url = filter_value.url_to_remove %}
{% else %}
  {% assign url = filter_value.url_to_add %}
{% endif %}

<a class="FilterValue" href="{{ url }}">
  {% if filter_value.swatch %}
    {% render 'swatch', swatch: filter_value.swatch, active: filter_value.active %}
  {% else %}
    {% render 'checkbox', checked: filter_value.active, disable_pointer_events: true %}
    {% render 'text', text: filter_value.label %}
  {% endif %}
</a>

{% stylesheet %}
  .FilterValue {
    display: flex;
    align-items: center;
    gap: var(--size-xs);
  }
{% endstylesheet %}
