{% doc %}
  Renders a Gallery component.

  @param {object} images - A list of images to render in the Gallery.
  @param {string} [variant_desktop] - Variant of the gallery for desktop. ('slider', 'stack', 'grid')
  @param {string} [variant_mobile] - Variant of the gallery for mobile. ('slider', 'stack', 'grid')
  @param {boolean} [navigation] - Whether to render navigation arrows.
  @param {boolean} [pagination] - Whether to render pagination.
  @param {number} [columns_desktop] - Number of columns on desktop.
  @param {number} [columns_mobile] - Number of columns on mobile.
{% enddoc %}

{% assign variant_desktop = variant_desktop | default: 'grid' %}
{% assign variant_mobile = variant_mobile | default: 'slider' %}
{% assign navigation = navigation | default: true %}
{% assign pagination = pagination | default: true %}
{% assign columns_desktop = columns_desktop | default: 3 %}
{% assign columns_mobile = columns_mobile | default: 2 %}

<div
  is="gallery-component"
  class="
    Gallery
    Gallery--Desktop{{ variant_desktop | camelcase }}
    Gallery--Mobile{{ variant_mobile | camelcase }}
  "
  style="
    --columns-mobile: {{ columns_mobile }};
    --columns-desktop: {{ columns_desktop }};
  "
>
  <div class="Gallery__Media u-NoScrollbar">
    {% for image in images %}
      <div class="Gallery__Item">
        {% render 'image', image: image %}
      </div>
    {% endfor %}
  </div>

  {% if images.size > 1 %}
    <div
      class="
        Gallery__Navigation
        {% if variant_mobile != 'slider' %}
          u-Hidden--Mobile
        {% endif %}

        {% if variant_desktop != 'slider' %}
          u-Hidden--Desktop
        {% endif %}
      "
    >
      {% if navigation %}
        {% render 'button', icon: 'arrow-left', variant: 'plain', size: 'small', action: 'prev', disabled: true %}
      {% endif %}

      {% if pagination %}
        <div class="Gallery__Pagination">
          {% for image in images %}
            {% render 'pagination-item', index: forloop.index0, active: forloop.first %}
          {% endfor %}
        </div>
      {% endif %}

      {% if navigation %}
        {% render 'button', icon: 'arrow-right', variant: 'plain', size: 'small', action: 'next' %}
      {% endif %}
    </div>
  {% endif %}
</div>

{% stylesheet %}
  .Gallery {
    display: flex;
    flex-direction: column;
    gap: var(--size-m);
    width: 100%;
  }

  .Gallery__Item {
    width: 100%;
    flex-shrink: 0;
    scroll-snap-align: center;
  }

  .Gallery__Navigation {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: var(--size-s);
  }

  .Gallery__Pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: var(--size-s);
    flex-wrap: wrap;
  }

  @media screen and (max-width: 768px) {
    .Gallery--MobileStack .Gallery__Media {
      display: flex;
      flex-direction: column;
      gap: var(--size-s);
    }

    .Gallery--MobileGrid .Gallery__Media {
      display: grid;
      grid-template-columns: repeat(var(--columns-mobile), 1fr);
      gap: var(--size-s);
    }

    .Gallery--MobileSlider .Gallery__Media {
      display: flex;
      overflow-x: scroll;
      scroll-snap-type: x mandatory;
    }
  }

  @media screen and (min-width: 769px) {
    .Gallery--DesktopStack .Gallery__Media {
      display: flex;
      flex-direction: column;
      gap: var(--size-s);
    }

    .Gallery--DesktopGrid .Gallery__Media {
      display: grid;
      grid-template-columns: repeat(var(--columns-desktop), 1fr);
      gap: var(--size-s);
    }

    .Gallery--DesktopSlider .Gallery__Media {
      display: flex;
      overflow-x: scroll;
      scroll-snap-type: x mandatory;
    }
  }
{% endstylesheet %}
