{% doc %}
  Renders a Gallery component.

  @param {object} images - A list of images to render in the Gallery.
  @param {string} [variant] - Variant of the gallery. ('slider', 'stack', 'grid')
  @param {boolean} [navigation] - Whether to render navigation arrows.
  @param {boolean} [pagination] - Whether to render pagination.
{% enddoc %}

{% assign variant = variant | default: 'slider' %}
{% assign navigation = navigation | default: true %}
{% assign pagination = pagination | default: true %}

<div
  class="
    Gallery
    Gallery--{{ variant | camelcase }}
  "
>
  <div class="Gallery__Media u-NoScrollbar">
    {% for image in images %}
      <div class="Gallery__Item">
        {% render 'image', image: image %}
      </div>
    {% endfor %}
  </div>

  <div class="Gallery__Navigation">
    {% if navigation %}
      {% render 'button', icon: 'arrow-left', variant: 'plain', size: 'small' %}
    {% endif %}

    {% if pagination %}
      <div class="Gallery__Pagination">
        {% for image in images %}
          {% render 'pagination-item', index: forloop.index0, active: forloop.first %}
        {% endfor %}
      </div>
    {% endif %}

    {% if navigation %}
      {% render 'button', icon: 'arrow-right', variant: 'plain', size: 'small' %}
    {% endif %}
  </div>
</div>

{% stylesheet %}
  .Gallery {
    display: flex;
    flex-direction: column;
    gap: var(--size-m);
    width: 100%;
  }

  .Gallery--Stack .Gallery__Media {
    display: flex;
    flex-direction: column;
    gap: var(--size-s);
  }

  .Gallery--Grid .Gallery__Media {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: var(--size-s);
  }

  .Gallery--Slider .Gallery__Media {
    display: flex;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
  }

  .Gallery__Item {
    width: 100%;
    flex-shrink: 0;
    scroll-snap-align: center;
  }

  .Gallery__Navigation {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: var(--size-s);
  }

  .Gallery__Pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: var(--size-s);
    flex-wrap: wrap;
  }
{% endstylesheet %}
