{% doc %}
  Renders a Gallery component.

  @param {object} images - A list of images to render in the Gallery.
  @param {string} [variant] - Variant of the gallery. ('slider', 'stack', 'grid')
  @param {boolean} [navigation] - Whether to render navigation arrows.
  @param {boolean} [pagination] - Whether to render pagination.
{% enddoc %}

{% assign variant = variant | default: 'slider' %}
{% assign navigation = navigation | default: true %}
{% assign pagination = pagination | default: true %}

<div
  class="
    Gallery
    Gallery--{{ variant | camelcase }}
    u-NoScrollbar
  "
>
  {% for image in images %}
    <div class="Gallery__Item">
      {% render 'image', image: image %}
    </div>
  {% endfor %}
</div>

{% stylesheet %}
  .Gallery {
    width: 100%;
  }

  .Gallery--Stack {
    display: flex;
    flex-direction: column;
    gap: var(--size-s);
  }

  .Gallery--Grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: var(--size-s);
  }

  .Gallery--Slider {
    display: flex;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
  }

  .Gallery__Item {
    width: 100%;
    flex-shrink: 0;
    scroll-snap-align: center;
  }
{% endstylesheet %}
