{% doc %}
  Renders a Gallery component.

  @param {object} images - A list of images to render in the Gallery.
  @param {string} [variant_mobile] - Variant of the gallery for mobile. ('slider', 'stack', 'grid')
  @param {string} [variant_desktop] - Variant of the gallery for desktop. ('slider', 'stack', 'grid')
  @param {boolean} [enable_navigation_mobile] - Whether to render navigation arrows on mobile.
  @param {boolean} [enable_navigation_desktop] - Whether to render navigation arrows on desktop.
  @param {boolean} [enable_pagination_mobile] - Whether to render pagination on mobile.
  @param {boolean} [enable_pagination_desktop] - Whether to render pagination on desktop.
  @param {string} [pagination_style_mobile] - The style for the pagination items on mobile. ('bullet', 'bar', 'thumbnail')
  @param {string} [pagination_style_desktop] - The style for the pagination items on desktop. ('bullet', 'bar', 'thumbnail')
  @param {number} [columns_mobile] - Number of columns on mobile.
  @param {number} [columns_desktop] - Number of columns on desktop.
{% enddoc %}

{% assign variant_mobile = variant_mobile | default: 'slider' %}
{% assign variant_desktop = variant_desktop | default: 'grid' %}
{% assign enable_navigation_mobile = enable_navigation_mobile | default: true, allow_false: true %}
{% assign enable_navigation_desktop = enable_navigation_desktop | default: true, allow_false: true %}
{% assign enable_pagination_mobile = enable_pagination_mobile | default: true, allow_false: true %}
{% assign enable_pagination_desktop = enable_pagination_desktop | default: true, allow_false: true %}
{% assign columns_mobile = columns_mobile | default: 2 %}
{% assign columns_desktop = columns_desktop | default: 3 %}
{% assign pagination_style_mobile = pagination_style_mobile | default: 'bullet' %}
{% assign pagination_style_desktop = pagination_style_desktop | default: 'bullet' %}

<div
  is="gallery-component"
  class="
    Gallery
    Gallery--Mobile{{ variant_mobile | camelcase }}
    Gallery--Desktop{{ variant_desktop | camelcase }}
    {% if enable_navigation_mobile %}Gallery--NavigationMobile{% endif %}
    {% if enable_navigation_desktop %}Gallery--NavigationDesktop{% endif %}
  "
  style="
    --columns-mobile: {{ columns_mobile }};
    --columns-desktop: {{ columns_desktop }};
  "
>
  <div class="Gallery__Media u-NoScrollbar">
    {% for image in images %}
      <div class="Gallery__Item">
        {% render 'image', image: image %}
      </div>
    {% endfor %}
  </div>

  {% if images.size > 1 %}
    <div
      class="
        Gallery__Navigation
        {% if variant_mobile != 'slider' %}
          u-Hidden--Mobile
        {% endif %}

        {% if variant_desktop != 'slider' %}
          u-Hidden--Desktop
        {% endif %}
      "
    >
      {% if enable_navigation_mobile or enable_navigation_desktop %}
        {% render 'button', icon: 'arrow-left', variant: 'plain', size: 'small', action: 'prev', disabled: true %}
      {% endif %}

      {% if enable_pagination_mobile %}
        <div class="Gallery__Pagination u-Hidden--Desktop">
          {% for image in images %}
            {% render 'pagination-item',
              index: forloop.index0,
              active: forloop.first,
              variant: pagination_style_mobile,
              image: image
            %}
          {% endfor %}
        </div>
      {% endif %}

      {% if enable_pagination_desktop %}
        <div class="Gallery__Pagination u-Hidden--Mobile">
          {% for image in images %}
            {% render 'pagination-item',
              index: forloop.index0,
              active: forloop.first,
              variant: pagination_style_desktop,
              image: image
            %}
          {% endfor %}
        </div>
      {% endif %}

      {% if enable_navigation_mobile or enable_navigation_desktop %}
        {% render 'button', icon: 'arrow-right', variant: 'plain', size: 'small', action: 'next' %}
      {% endif %}
    </div>
  {% endif %}
</div>

{% stylesheet %}
  .Gallery {
    display: flex;
    flex-direction: column;
    gap: var(--size-m);
    width: 100%;
  }

  .Gallery__Item {
    width: 100%;
    flex-shrink: 0;
    scroll-snap-align: center;
  }

  .Gallery__Navigation {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: var(--size-s);
  }

  .Gallery__Pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: var(--size-s);
    flex-wrap: wrap;
  }

  [data-action='next'],
  [data-action='prev'] {
    /* Will be handled device specific */
    display: none;
  }

  @media screen and (max-width: 768px) {
    .Gallery--MobileStack .Gallery__Media {
      display: flex;
      flex-direction: column;
      gap: var(--size-s);
    }

    .Gallery--MobileGrid .Gallery__Media {
      display: grid;
      grid-template-columns: repeat(var(--columns-mobile), 1fr);
      gap: var(--size-s);
    }

    .Gallery--MobileSlider .Gallery__Media {
      display: flex;
      overflow-x: scroll;
      scroll-snap-type: x mandatory;
    }

    .Gallery--NavigationMobile [data-action='next'],
    .Gallery--NavigationMobile [data-action='prev'] {
      display: flex;
    }
  }

  @media screen and (min-width: 769px) {
    .Gallery--DesktopStack .Gallery__Media {
      display: flex;
      flex-direction: column;
      gap: var(--size-s);
    }

    .Gallery--DesktopGrid .Gallery__Media {
      display: grid;
      grid-template-columns: repeat(var(--columns-desktop), 1fr);
      gap: var(--size-s);
    }

    .Gallery--DesktopSlider .Gallery__Media {
      display: flex;
      overflow-x: scroll;
      scroll-snap-type: x mandatory;
    }

    .Gallery--NavigationDesktop [data-action='next'],
    .Gallery--NavigationDesktop [data-action='prev'] {
      display: flex;
    }
  }
{% endstylesheet %}
