{% doc %}
  Renders a Indicator Item component.

  @param {boolean} [active] - Whether the indicator item is active.
  @param {number} [index] - The index of the indicator item within the indicator group.
{% enddoc %}

{% capture indicator_item %}
  <div class="IndicatorItem{% if active %}IndicatorItem--Active{% endif %}"></div>
{% endcapture %}

{% assign action = 'navigate-' | append: index %}

{% render 'button', content: indicator_item, action: action, variant: 'plain', size: 'small' %}

{% stylesheet %}
  .IndicatorItem {
    transition: all var(--transition-duration) linear;
    aspect-ratio: 1;
    width: var(--icon-size-m);
    background-color: var(--t-background-light);
    transform: scale(0.8);
    opacity: 0.5;
    border-radius: 50%;
    border: 1px solid black;
  }

  .IndicatorItem--Active {
    opacity: 1;
    transform: scale(1);
  }
{% endstylesheet %}
