{% doc %}
  Renders a Line Item component.

  @param {string} title - The title of the line item.
  @param {string} image - The image of the line item.
  @param {string} price - The price of the line item.
  @param {string} compare_at_price - The compare at price of the line item.
  @param {string} quantity - The quantity of the line item.
  @param {string} key - The key of the line item.
  @param {string} total - The total of the line item.
  @param {string} [variant_title] - The variant title of the line item.
  @param {string} url - The URL of the line item.
{% enddoc %}

<div
  is="line-item-component"
  class="LineItem"
  data-key="{{ key }}"
>
  <a class="LineItem__Image" href="{{ url }}">
    {% render 'image', image: image, variant: 'square' %}
  </a>

  <div class="LineItem__Details">
    <a class="LineItem__Title" href="{{ url }}">
      {% render 'text', text: title %}
    </a>

    <div class="LineItem__Price">
      {% render 'price-list', price: price, compare_at_price: compare_at_price %}
    </div>

    <div class="LineItem__Actions">
      {% render 'quantity-selector', quantity: quantity %}

      {% render 'button', text: 'Remove', variant: 'link', action: 'remove' %}
    </div>
  </div>
</div>

{% stylesheet %}
  .LineItem {
    display: flex;
    gap: var(--size-m);
  }

  .LineItem__Image {
    width: 30%;
    flex-shrink: 0;
  }

  .LineItem__Details {
    display: flex;
    flex-direction: column;
    gap: var(--size-s);
  }

  .LineItem__Actions {
    display: flex;
    align-items: center;
    gap: var(--size-s);
  }
{% endstylesheet %}
