{% doc %}
  Renders a Line Item Component

  @param {object} line_item - The liquid line item object.
{% enddoc %}

<div class="LineItemComponent">
  <a href="{{ line_item.url }}" class="LineItemComponent__Image">
    {% render 'image', image: line_item.image %}
  </a>

  <a href="{{ line_item.url }}" class="LineItemComponent__Details">
    {% render 'text', text: line_item.title, variant: 'body-small' %}

    {% if line_item.variant.title and line_item.variant.title != 'Default Title' %}
      {% render 'text', text: line_item.variant.title, variant: 'body-small', color: 'primary-muted' %}
    {% endif %}
  </a>
</div>

{% stylesheet %}
  .LineItemComponent {
    display: flex;
    align-items: flex-start;
    gap: var(--size-xxs);
  }

  .LineItemComponent__Image {
    width: 30%;
    flex-shrink: 0;
  }
{% endstylesheet %}
