{% doc %}
  Renders a Link component.

  @param {string} text - Link text
  @param {string} url - The URL of the link
  @param {boolean} [external] - Whether the link should be opened in a new window
{% enddoc %}

<a
  class="Link"
  href="{{ url }}"
  {% if external %}
    target="_blank"
  {% endif %}
>
  {{- text -}}
</a>

{% stylesheet %}
  .Link {
    color: var(--t-primary);
    transition: color var(--transition-duration-medium) var(--transition-timing);
    font-family: var(--font-body-family);
  }

  .Link:hover {
    color: var(--t-primary-hover);
  }
{% endstylesheet %}
