{% doc %}
  Link

  @param {string} text - Link text
  @param {string} url - The URL of the link
  @param {boolean} external - Whether the link should be opened in a new window
{% enddoc %}

<a
  class="Link"
  href="{{ url }}"
  {% if external %}
    target="_blank"
  {% endif %}
>
  {{- text -}}
</a>

{% stylesheet %}
  .Link {
    color: var(--link-color);
    text-decoration: none;
    transition: 0.5s;
    font-family: Arial, Helvetica, sans-serif;
  }

  .Link:hover {
    color: var(--link-color-hover);
  }
{% endstylesheet %}
