{% doc %}
  Renders a mega menu component

  @param {string} handle - Describes the connection to the main menu item
  @param {object[]} links - A list of links to render
{% enddoc %}

<div is="mega-menu-component" class="MegaMenu" data-handle="{{ handle }}">
  {% render 'navigation-group', links: links, direction: 'horizontal' %}
</div>

{% stylesheet %}
  .MegaMenu {
    position: fixed;
    top: var(--header-group-height);
    left: 0;
    display: none;
    padding-block: inherit;
    padding-inline: inherit;
    width: 100%;
    background: inherit;
  }

  .MegaMenu--Active {
    display: block;
  }
{% endstylesheet %}
