{% doc %}
  Renders a mega menu component.

  @param {string} handle - Describes the connection to the main menu item.
  @param {object[]} links - A list of links to render.
  @param {object} [promotion_card] - Optional promotion block connected to the current main menu item.
{% enddoc %}

<mega-menu-component class="MegaMenu" data-handle="{{ handle }}">
  <div class="MegaMenu__Inner">
    {% render 'navigation-group', links: links, direction: 'horizontal' %}

    {% if promotion_card != blank %}
      <div class="MegaMenu__Promotion">
        {% render 'promotion-card',
          image: promotion_card.settings.image,
          link: promotion_card.settings.link,
          title: promotion_card.settings.title,
          text: promotion_card.settings.text
        %}
      </div>
    {% endif %}
  </div>
</mega-menu-component>

{% stylesheet %}
  .MegaMenu {
    position: absolute;
    top: 100%;
    left: 0;
    display: none;
    padding-block: inherit;
    padding-inline: inherit;
    width: 100%;
    background: var(--t-gradient-background-dark);
    box-shadow: var(--box-shadow);
  }

  .MegaMenu__Inner {
    display: flex;
    gap: var(--size-m);
    max-width: var(--page-width);
    margin-inline: auto;
  }

  .MegaMenu__Promotion {
    margin-left: auto;
    max-width: 20%;
  }

  .MegaMenu--Active {
    display: block;
  }
{% endstylesheet %}
