{% doc %}
  Renders a mega menu component.

  @param {string} handle - Describes the connection to the main menu item.
  @param {object[]} links - A list of links to render.
  @param {object[]} [promotion_blocks] - Optional promotion block connected to the current main menu item.
{% enddoc %}

<mega-menu-component class="MegaMenu" data-handle="{{ handle }}">
  <div class="MegaMenu__Inner">
    {% for link in links %}
      <div class="MegaMenu__NavigationGroup">
        <a href="{{ link.url }}">
          {% render 'text', text: link.title, as: 'b' %}
        </a>

        {% render 'navigation-group', links: link.links, direction: 'vertical', separators: false %}
      </div>
    {% endfor %}

    {% if promotion_blocks %}
      <div class="MegaMenu__Promotions">
        {% for promotion_block in promotion_blocks %}
          {% assign connected_menu_item_handleized = promotion_block.settings.connected_menu_item | handleize %}

          {% if promotion_block.type == 'promotion-card'
            and promotion_block.settings.connected_menu_item != blank
            and connected_menu_item_handleized == handle
          %}
            <div class="MegaMenu__PromotionItem">
              {% render 'promotion-card',
                image: promotion_block.settings.image,
                link: promotion_block.settings.link_url,
                title: promotion_block.settings.title,
                text: promotion_block.settings.text
              %}
            </div>
          {% endif %}
        {% endfor %}
      </div>
    {% endif %}
  </div>
</mega-menu-component>

{% stylesheet %}
  .MegaMenu {
    position: absolute;
    top: 100%;
    left: 0;
    display: none;
    padding-block: inherit;
    padding-inline: inherit;
    width: 100%;
    background: var(--t-gradient-background-dark);
    box-shadow: var(--box-shadow);
  }

  .MegaMenu__Inner {
    gap: var(--size-m);
    max-width: var(--page-width);
    margin-inline: auto;
  }

  .MegaMenu__NavigationGroup {
    display: flex;
    flex-direction: column;
    gap: var(--size-xs);
  }

  .MegaMenu__Promotions {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    gap: var(--size-s);
    width: min(420px, 100%);
    margin-left: auto;
  }

  .MegaMenu__PromotionItem {
  }

  .MegaMenu--Active {
    display: block;
  }
{% endstylesheet %}
