{% doc %}
  Renders a mega menu component

  @param {string} handle - Descripes the connection to the main menu item
  @param {object} link_list - The link list to render
{% enddoc %}

<div class="MegaMenu"></div>

{% stylesheet %}
  .MegaMenu {
    background-color: red;
  }
{% endstylesheet %}
