{% doc %}
  Renders a Navigation Group component.

  @param {object} links - An array of link objects.
  @param {string} [direction] - Set the direction of the navigation group. Defaults to vertical.
  @param {boolean} [nested] - Whether the navigation group is nested in another navigation group.
  @param {boolean} [connected_to_mega_menu] - Whether the navigation group is connected to a mega menu.
{% enddoc %}

{% assign direction = direction | default: 'vertical' %}
{% assign nested = nested | default: false %}

<ul
  class="
    NavigationGroup
    NavigationGroup--Direction{{ direction | camelcase }}
    u-NoList
  "
>
  {% for link in links %}
    <li
      {% if connected_to_mega_menu %}
        is="mega-menu-trigger-component"
        data-handle="{{ link.handle }}"
      {% endif %}
      class="NavigationGroup__Item"
    >
      <a href="{{ link.url }}">
        {% render 'text', text: link.title, as: 'strong' %}
      </a>
    </li>

    {% if link.links.size > 0 and direction == 'vertical' %}
      <li class="NavigationGroup__Item">
        {% render 'navigation-group', links: link.links, nested: true %}
      </li>
    {% endif %}

    {% if forloop.last == false and nested == false and direction == 'vertical' %}
      <li role="presentation">
        {% render 'divider' %}
      </li>
    {% endif %}
  {% endfor %}
</ul>

{% stylesheet %}
  .NavigationGroup {
    display: flex;
    gap: var(--size-m);
  }

  .NavigationGroup--DirectionVertical {
    flex-direction: column;
  }

  .NavigationGroup--DirectionHorizontal {
    flex-wrap: wrap;
    gap: var(--size-m);
  }

  .NavigationGroup--DirectionVertical .NavigationGroup {
    margin-left: var(--size-m);
    gap: var(--size-s);
  }
{% endstylesheet %}
