{% doc %}
  Renders a Navigation Group component.

  @param {object} links - An array of link objects.
  @param {string} [direction] - Set the direction of the navigation group. Defaults to horizontal.
{% enddoc %}

{% assign direction = direction | default: 'vertical' %}

<ul
  class="
    NavigationGroup
    NavigationGroup--Direction{{ direction | camelcase }}
    u-NoList
  "
>
  {% for link in links %}
    <li class="NavigationGroup__Item">
      <a href="{{ link.url }}">
        {% render 'text', text: link.title, as: 'strong' %}
      </a>
    </li>

    {% if link.links.size > 0 and direction == 'vertical' %}
      <li class="NavigationGroup__Item">
        {% render 'navigation-group', links: link.links %}
      </li>
    {% endif %}
  {% endfor %}
</ul>

{% stylesheet %}
  .NavigationGroup {
    display: flex;
  }

  .NavigationGroup--DirectionVertical {
    flex-direction: column;
  }

  .NavigationGroup--DirectionHorizontal {
    flex-wrap: wrap;
    gap: var(--size-m);
  }

  .NavigationGroup--DirectionVertical .NavigationGroup__Item {
    padding: var(--size-s) 0;
  }

  .NavigationGroup--DirectionVertical .NavigationGroup__Item:not(:first-child):not(:has(.NavigationGroup)) {
    border-top: var(--border-width) var(--border-style) var(--t-border);
  }

  .NavigationGroup--DirectionVertical .NavigationGroup .NavigationGroup {
    margin-left: var(--size-m);
  }

  .NavigationGroup--DirectionVertical .NavigationGroup .NavigationGroup .NavigationGroup__Item {
    border: none;
  }
{% endstylesheet %}
