{% doc %}
  Renders a Newsletter component.

  @param {string} heading - The heading of the newsletter.
  @param {string} text - The text of the newsletter.
{% enddoc %}

<newsletter-form-component class="Newsletter">
  <div class="Newsletter__Top">
    {% render 'text', text: heading, as: 'h2', variant: 'heading-medium' %}

    {% render 'text', text: text %}
  </div>

  <form class="NewsletterForm">
    {% assign placeholder = 'inputs.email.placeholder' | t %}
    {% render 'text-field', name: 'email', type: 'email', required: true, placeholder: placeholder %}

    {% assign button_text = 'global.submit' | t %}
    {% render 'button', text: button_text %}

    <div class="NewsletterForm__SuccessMessage">
      {% assign form_success_message = 'components.back_in_stock.form_success_message' | t %}
      {% render 'alert', variant: 'success', text: form_success_message %}
    </div>

    <div class="NewsletterForm__ErrorMessage">
      {% assign form_error_message = 'components.back_in_stock.form_error_message' | t %}
      {% render 'alert', variant: 'critical', text: form_error_message %}
    </div>
  </form>
</newsletter-form-component>

{% stylesheet %}
  .Newsletter {
    display: flex;
    flex-direction: column;
    gap: var(--size-l);
  }

  .Newsletter__Top {
    display: flex;
    flex-direction: column;
    gap: var(--size-xs);
  }

  .NewsletterForm {
    display: flex;
    flex-direction: column;
    gap: var(--size-xs);
  }

  .NewsletterForm__SuccessMessage,
  .NewsletterForm__ErrorMessage {
    display: none;
  }

  .NewsletterForm__SuccessMessage--Active,
  .NewsletterForm__ErrorMessage--Active {
    display: block;
  }
{% endstylesheet %}
