{% doc %}
  Renders a Newsletter component.

  @param {string} heading - The heading of the newsletter.
  @param {string} text - The text of the newsletter.
{% enddoc %}

<newsletter-form-component class="Newsletter">
  <div class="Newsletter__Top">
    {% render 'text', text: heading, as: 'h2', variant: 'heading-medium' %}

    {% render 'text', text: text %}
  </div>

  <form class="Form">
    {% assign placeholder = 'inputs.email.placeholder' | t %}
    {% render 'text-field', name: 'email', type: 'email', required: true, placeholder: placeholder %}

    {% assign button_text = 'global.submit' | t %}
    {% render 'button', text: button_text %}
  </form>

  <div class="Newsletter__SuccessMessage">
    {% assign form_success_message = 'components.newsletter.form_success_message' | t %}
    {% render 'alert', variant: 'success', text: form_success_message %}
  </div>

  <div class="Newsletter__ErrorMessage">
    {% assign form_error_message = 'components.newsletter.form_error_message' | t %}
    {% render 'alert', variant: 'critical', text: form_error_message %}
  </div>
</newsletter-form-component>

{% stylesheet %}
  .Newsletter {
    display: flex;
    flex-direction: column;
    gap: var(--size-xs);
  }

  .Newsletter__Top {
    display: flex;
    flex-direction: column;
    gap: var(--size-xs);
  }

  .Newsletter__SuccessMessage,
  .Newsletter__ErrorMessage {
    display: none;
  }

  .Newsletter__SuccessMessage--Active,
  .Newsletter__ErrorMessage--Active {
    display: block;
  }
{% endstylesheet %}
