{% doc %}
  Renders a Pagination component.

  @param {object} paginate - The paginate object.
  @param {string} [variant] - The variant of the pagination ('text', 'icons'). Default: 'icons'
{% enddoc %}

{% liquid
  assign variant = variant | default: 'icons'
  assign pagination_next_text = 'components.pagination.pagination_next' | t
  assign pagination_prev_text = 'components.pagination.pagination_prev' | t
%}

{% capture previous_content %}
  {% if variant == 'text' %}
    {% if paginate.previous %}
      {% render 'link',
        text: pagination_prev_text,
        url: paginate.previous.url,
        color: 'primary',
        attributes: 'rel="prev"'
      %}
    {% else %}
      {% render 'text', text: pagination_prev_text, color: 'primary-muted', as: 'span' %}
    {% endif %}
  {% else %}
    {% assign disabled = true %}
    {% if paginate.previous %}
      {% assign disabled = false %}
    {% endif %}
    {% render 'button',
      icon: 'arrow-left',
      variant: 'plain',
      size: 'small',
      url: paginate.previous.url,
      disabled: disabled
    %}
  {% endif %}
{% endcapture %}

{% capture next_content %}
  {% if variant == 'text' %}
    {% if paginate.next %}
      {% render 'link',
        text: pagination_next_text,
        url: paginate.next.url,
        color: 'primary',
        attributes: 'rel="next"'
      %}
    {% else %}
      {% render 'text', text: pagination_next_text, color: 'primary-muted', as: 'span' %}
    {% endif %}
  {% else %}
    {% assign disabled = true %}
    {% if paginate.next %}
      {% assign disabled = false %}
    {% endif %}
    {% render 'button',
      icon: 'arrow-right',
      variant: 'plain',
      size: 'small',
      url: paginate.next.url,
      disabled: disabled
    %}
  {% endif %}
{% endcapture %}

{% if paginate.pages > 1 %}
  <nav class="Pagination" role="navigation" aria-label="{{ 'components.pagination.aria_label' | t }}">
    {{ previous_content }}

    <ul class="Pagination__List u-NoList">
      {% for part in paginate.parts %}
        {% if part.is_link %}
          <li>
            {% render 'link', text: part.title, url: part.url, color: 'primary' %}
          </li>
        {% else %}
          {% if part.title == paginate.current_page %}
            <li>
              {% render 'text', text: part.title, text_decoration: 'underline', color: 'primary-muted', as: 'span' %}
            </li>
          {% else %}
            <li>
              {% render 'text', text: part.title, as: 'span' %}
            </li>
          {% endif %}
        {% endif %}
      {% endfor %}
    </ul>

    {{ next_content }}
  </nav>
{% endif %}

{% stylesheet %}
  .Pagination {
    display: flex;
    align-items: center;
    gap: var(--size-m);
  }

  .Pagination__List {
    display: flex;
    align-items: center;
    gap: var(--size-m);
  }
{% endstylesheet %}
