{% doc %}
  Renders a Price List component.

  @param {number} price - Price in cents
  @param {number} [compare_at_price] - Compare at price in cents
  @param {string} [info] - Additional info text
  @param {number} [unit_price] - Price in cents
  @param {object} [unit_price_measurement] - The liquid unit price measurement object
{% enddoc %}

<div class="PriceList">
  <div class="PriceList__Price">
    {% if compare_at_price %}
      {% assign compare_at_price_text = compare_at_price | money %}
      {% render 'text', text: compare_at_price_text, variant: 'body-small', as: 'del' %}
    {% endif %}

    {% assign price_text = price | money %}
    {% render 'text', text: price_text, as: 'b' %}

    {% if info %}
      {% render 'rich-text', content: info %}
    {% endif %}
  </div>

  {% render 'unit-price', unit_price: unit_price, unit_price_measurement: unit_price_measurement %}
</div>

{% stylesheet %}
  .PriceList {
    display: flex;
    flex-direction: column;
    gap: var(--size-xxs);
  }

  .PriceList del {
    color: var(--t-text-muted);
  }

  .PriceList:has(del) strong {
    color: var(--t-text);
  }

  .PriceList__Price {
    display: flex;
    align-items: center;
    gap: var(--size-xs);
    flex-wrap: wrap;
  }
{% endstylesheet %}
