{% doc %}
  Renders a Price List component.

  @param {number} price - Price in cents
  @param {number} [compare_at_price] - Compare at price in cents
  @param {string} [info] - Additional info text
  @param {object} [unit_price] - The liquid unit price object
  @param {object} [unit_price_measurement] - The liquid unit price measurement object
{% enddoc %}

<div class="PriceList">
  <div class="PriceList__Price">
    {% if compare_at_price %}
      {% assign compare_at_price_text = compare_at_price | money %}
      {% render 'text', text: compare_at_price_text, variant: 'body-small', as: 'del' %}
    {% endif %}

    {% assign price_text = price | money %}
    {% render 'text', text: price_text, as: 'b' %}

    {% if info %}
      {% render 'rich-text', content: info %}
    {% endif %}
  </div>

  {% if unit_price and unit_price_measurement %}
    {% assign unit_price = unit_price | money %}

    {%- capture unit_price_text -%}
      {{ unit_price | append: ' /' }}
      {% if unit_price_measurement.reference_value > 1 %}
        {{ unit_price_measurement.reference_value | append: ' ' }}
      {% endif %}
      {{ unit_price_measurement.reference_unit }}
    {%- endcapture -%}
  {% endif %}

  {% if unit_price_text != blank %}
    <div class="PriceList__UnitPrice">
      {% render 'text', text: unit_price_text, color: 'primary-muted', variant: 'body-small' %}
    </div>
  {% endif %}
</div>

{% stylesheet %}
  .PriceList {
    display: flex;
    flex-direction: column;
    gap: var(--size-xxs);
  }

  .PriceList del {
    color: var(--t-text-muted);
  }

  .PriceList:has(del) strong {
    color: var(--t-text);
  }

  .PriceList__Price {
    display: flex;
    align-items: center;
    gap: var(--size-xs);
    flex-wrap: wrap;
  }
{% endstylesheet %}
