{% doc %}
  Renders a Product Form component.

  @param {object} product - The product object containing options and values.
  @param {string} [name_prefix] - The prefix for the name attribute of the input elements.
  @param {boolean} [update_variant_url_parameter] - Whether to update the `variant` URL parameter in the URL when the selected variant changes.
  @param {object} [blocks] - The blocks object of a section (for example product configurator).
{% enddoc %}

<form
  is="product-form-component"
  class="ProductForm"
  data-update-variant-url-parameter="{{ update_variant_url_parameter | default: false }}"
>
  {% for block in blocks %}
    {% case block.type %}
      {% when 'title' %}
        {% render 'text', text: product.title, variant: 'heading-small', as: 'h1' %}

      {% when 'product-variant-selector' %}
        {% render 'product-variant-selector',
          product: product,
          name_prefix: name_prefix,
          visually_hidden: product.has_only_default_variant
        %}

      {% when 'price-list' %}
        {% render 'price-list', price: product.price, compare_at_price: product.compare_at_price %}

      {% when 'quantity-selector' %}
        {% render 'quantity-selector', quantity: 1 %}

      {% when 'product-rating' %}
        {% if product.metafields.custom.rating.value.rating %}
          {% render 'rating', rating: product.metafields.custom.rating.value.rating %}
        {% endif %}

      {% when 'buy-buttons' %}
        {% render 'button', text: 'Add to cart', action: 'add-to-cart' %}

      {% when 'shipping-estimation' %}
        {% if product.available %}
          {% assign text = 'components.shipping_estimation.available' | t %}
        {% else %}
          {% assign text = 'components.shipping_estimation.unavailable' | t %}
        {% endif %}

        {% render 'shipping-estimation', available: product.available, text: text %}

      {% when 'selling-points' %}
        {% render 'selling-points',
          selling_points: shop.metaobjects.selling_points['selling-points-1hylegwq'].selling_points.value
        %}
    {% endcase %}
  {% endfor %}
</form>

{% stylesheet %}
  .ProductForm {
    display: flex;
    flex-direction: column;
    gap: var(--size-m);
    padding: var(--size-m);
    background-color: var(--t-background);
    background: var(--t-gradient-background);
    border: var(--border-width) solid var(--t-border-card);
    border-top-color: var(--t-highlight);
    border-radius: var(--t-border-radius);
    box-shadow: var(--box-shadow);
  }

  @media screen and (min-width: 769px) {
    .ProductForm {
      position: sticky;
      padding: var(--size-xl);
    }
  }
{% endstylesheet %}
