{% doc %}
  Renders a Product Form component.

  @param {object} product - The product object containing options and values.
  @param {string} [name_prefix] - The prefix for the name attribute of the input elements.
  @param {boolean} [update_variant_url_parameter] - Whether to update the `variant` URL parameter in the URL when the selected variant changes.
{% enddoc %}

<form
  is="product-form-component"
  class="ProductForm"
  data-update-variant-url-parameter="{{ update_variant_url_parameter | default: false }}"
>
  {% render 'product-variant-selector',
    product: product,
    name_prefix: name_prefix,
    visually_hidden: product.has_only_default_variant
  %}

  {% render 'button', text: 'Add to cart', action: 'add-to-cart' %}
</form>

{% stylesheet %}
  .ProductForm {
    display: flex;
    flex-direction: column;
    gap: var(--size-m);
    padding: var(--size-m);
  }
{% endstylesheet %}
