{% doc %}
  Renders a Product Card component.

  @param {string} title - Product title
  @param {object} image - The image object containing the source and alt text.
  @param {string} [badge] - Optional Badge to render on the product card.
  @param {number} [compare_at_price] - Product compare at price in cents.
  @param {number} price - Product price in cents.
  @param {string} url - URL of the Product.
{% enddoc %}

<article class="ProductCard">
  <a href="{{ url }}">
    <div class="ProductCard__Image">
      {% render 'image', image: image %}

      <div class="ProductCard__Badges">
        <ul class="u-NoList BadgeList">
          {% if badge %}
            <li>
              {% render 'badge', text: badge %}
            </li>
          {% endif %}

          {% if compare_at_price > price %}
            <li>
              {% render 'badge', text: 'Sale', variant: 'sale' %}
            </li>
          {% endif %}
        </ul>
      </div>
    </div>
  </a>

  <a href="{{ url }}">
    {% render 'text', text: title, variant: 'body-large', as: 'span' %}
  </a>

  <div class="ProductCard__PriceList">
    {% render 'price-list', price: price, compare_at_price: compare_at_price %}
  </div>
</article>

{% stylesheet %}
  .ProductCard {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: var(--size-xs);
  }

  .ProductCard__Image {
    position: relative;
  }

  .ProductCard__Badges {
    position: absolute;
    top: 0;
    right: 0;
    padding: var(--size-xs);
  }

  .ProductCard__PriceList {
    margin-top: auto;
  }
{% endstylesheet %}
