{% doc %}
  Renders a Product Card component.

  @param {string} title - Product title
  @param {object} image - The image object containing the source and alt text.
  @param {string} [badge] - Optional Badge to render on the product card.
  @param {number} [compare_at_price] - Product compare at price in cents.
  @param {number} price - Product price in cents.
  @param {string} url - URL of the Product.
  @param {number} [rating] - Product rating.
{% enddoc %}

<article class="ProductCard">
  <a href="{{ url }}">
    <div class="ProductCard__Image">
      {% render 'image', image: image, variant: 'square' %}

      <div class="ProductCard__Badges">
        <ul class="u-NoList BadgeList">
          {% if badge %}
            <li>
              {% render 'badge', text: badge %}
            </li>
          {% endif %}

          {% if compare_at_price > price %}
            <li>
              {% render 'badge', text: 'Sale', variant: 'sale' %}
            </li>
          {% endif %}
        </ul>
      </div>
    </div>
  </a>

  <div class="ProductCard__Details">
    <a href="{{ url }}">
      {% render 'text', text: title, as: 'b' %}
    </a>

    {% if rating %}
      {% render 'rating', rating: rating %}
    {% endif %}

    <div class="ProductCard__PriceList">
      {% render 'price-list', price: price, compare_at_price: compare_at_price %}
    </div>
  </div>
</article>

{% stylesheet %}
  .ProductCard {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: var(--size-xs);
    border: var(--border-width) solid var(--color-border);
  }

  .ProductCard__Image {
    position: relative;

    /* Make sure the image doesnt overflow its container */
    overflow: hidden;
  }

  .ProductCard__Image img {
    transform: scale(0.8);
    transition: var(--transition-duration) var(--transition-timing);
  }

  .ProductCard__Image:hover img {
    transform: scale(1);
  }

  .ProductCard__Badges {
    position: absolute;
    top: 0;
    right: 0;
    padding: var(--size-xs);
  }

  .ProductCard__Details {
    /* Make sure the details section takes up the remaining space */
    flex: 1;

    display: flex;
    flex-direction: column;
    gap: var(--size-xs);
    padding: var(--size-m);
  }

  .ProductCard__PriceList {
    margin-top: auto;
  }
{% endstylesheet %}
