{% doc %}
  Renders a Progress Bar component.

  @param {number} progress - The progress state in percent.
{% enddoc %}

<div class="ProgressBar">
  {% assign progress = progress | default: 0 %}
  <div class="ProgressBar__Fill" style="width:{{ progress }}%"></div>
</div>

{% stylesheet %}
  .ProgressBar {
    position: relative;
    width: 100%;
    height: var(--size-xs);
    border: var(--border-width) var(--border-style) var(--t-border);
    border-radius: var(--t-border-radius);
    background: var(--t-info);
  }

  .ProgressBar__Fill {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    border-radius: inherit;
    background: var(--t-success);
    transition: width var(--transition-duration-long) var(--transition-timing);
  }
{% endstylesheet %}
