{% doc %}
  Renders a Promotion Card Component.

  @param {object} image - The image to render inside the promotion card.
  @param {string} [link] - The navigation link of the promotion card.
  @param {string} [title] - The title for the promotion card content.
  @param {string} [text] - The text for the promotion card content.
{% enddoc %}

<div class="PromotionCard">
  <a class="PromotionCard__Link" href="{{ link }}">
    <div class="PromotionCard__Image">
      {% render 'image', image: image %}
    </div>

    <div class="PromotionCard__Details">
      {% render 'text', text: title, variant: 'body-small', as: 'b' %}

      {% render 'text', text: text, variant: 'body-small' %}
    </div>
  </a>
</div>

{% stylesheet %}
  .PromotionCard {
    position: relative;
    width: 100%;
  }

  .PromotionCard__Details {
    position: absolute;
    right: var(--size-xs);
    bottom: var(--size-xs);
    left: var(--size-xs);
    display: flex;
    flex-direction: column;
    gap: var(--size-xxs);
    padding-inline: var(--size-xs);
    padding-block: var(--size-xs);
    background-color: var(--t-background-light-opaque);
  }
{% endstylesheet %}
