{% doc %}
  Renders a Quantity Selector component.

  @param {number} quantity - The currently selected quantity.
{% enddoc %}

<div is="quantity-selector-component" class="QuantitySelector">
  {% render 'button',
    variant: 'plain',
    icon: 'minus',
    action: 'decrement',
    size: 'small',
    aria_label_key: 'components.minus_button.aria_label',
    type: 'button'
  %}

  <div class="QuantitySelector__Loading">
    {% render 'loading-spinner', size: 'medium' %}
  </div>

  <span class="QuantitySelector__Quantity">
    {{ quantity }}
  </span>

  {% render 'button',
    variant: 'plain',
    icon: 'plus',
    action: 'increment',
    size: 'small',
    aria_label_key: 'components.plus_button.aria_label',
    type: 'button'
  %}
</div>

{% stylesheet %}
  .QuantitySelector {
    position: relative;
    display: flex;
    align-items: center;
    gap: var(--size-s);
  }

  .QuantitySelector__Loading {
    position: absolute;
    inset: 0;
    display: none;
    align-items: center;
    justify-content: center;
    background-color: rgb(0, 0, 0, 0.05);
    border-radius: var(--t-border-radius);
  }

  .QuantitySelector__Loading--Active {
    display: flex;
  }
{% endstylesheet %}
