{% doc %}
  Renders a Quick Search component.
{% enddoc %}

<quick-search-component class="QuickSearch">
  <form class="Form">
    {% assign search_text_field_placeholder = 'inputs.search.placeholder' | t %}
    {% render 'text-field', placeholder: search_text_field_placeholder, type: 'search' %}
  </form>

  <div class="QuickSearch__Content"></div>
</quick-search-component>
