<ul class="SocialLinks u-NoList">
  {%- comment -%}
    These handles need to match the setting ids.
  {%- endcomment -%}
  {% assign social_handles = 'facebook, x, tiktok, instagram' | split: ', ' %}

  {% for social_handle in social_handles %}
    {% assign url = settings[social_handle] %}

    {% if url != blank %}
      <li>
        <a class="SocialLinks__Link" href="{{ url }}" target="_blank">
          {% assign icon = 'social-' | append: social_handle %}
          {% render 'icon', icon: icon, size: 'small' %}
        </a>
      </li>
    {% endif %}
  {% endfor %}
</ul>

{% stylesheet %}
  .SocialLinks {
    display: flex;
    align-items: center;
    gap: var(--size-xs);
  }

  .SocialLinks__Link {
    color: var(--t-text);
    transition: opacity var(--transition-duration-medium) var(--transition-timing);
  }

  .SocialLinks__Link:hover {
    opacity: 0.6;
  }
{% endstylesheet %}
