{% doc %}
  Renders a Sort Option component.

  @param {object} sort_option - The liquid sort option object.
  @param {boolean} [active] - Whether the sort option is active.
{% enddoc %}

<div class="SortOption">
  {% if active %}
    {% render 'text', text: sort_option.name, as: 'b' %}
  {% else %}
    {% render 'text', text: sort_option.name %}
  {% endif %}
</div>
