{% doc %}
  Renders a Sort Option component.

  @param {object} sort_option - The liquid sort option object.
{% enddoc %}

<script>
  console.log({{ request.path | json }});
</script>

{% assign url = 'value' | append: 'string' %}
<a href="{{ url }}" class="SortOption">
  {% render 'text', text: sort_option.name %}
</a>
