{% doc %}
  Renders a Swatch component.

  @param {object} swatch - The liquid swatch object.
  @param {boolean} active - Whether the swatch is active.
  @param {string} [size] - The size of the swatch. ('small')
{% enddoc %}

<div
  class="
    Swatch
    {% if active %}
      Swatch--Active
    {% endif %}
    {% if size %}
      Swatch--Size{{ size | camelcase }}
    {% endif %}
  "
  style="--swatch-color: rgb({{ swatch.color.rgb }})"
>
  {% if swatch.image %}
    {% render 'image', image: swatch.image, variant: 'square' %}
  {% endif %}
</div>

{% stylesheet %}
  .Swatch {
    width: var(--size-xl);
    aspect-ratio: 1;
    border-radius: var(--t-border-radius-circle);
    background-color: var(--swatch-color);
    overflow: hidden;
  }

  .Swatch--Active {
    outline: var(--border-width) var(--border-style) var(--t-border);
    outline-offset: 2px;
  }

  .Swatch--SizeSmall {
    width: var(--size-m);
  }
{% endstylesheet %}
