<div
  class="
    APlusBlock
    {% if block.settings.image_position_desktop == "right" %}
      APlusBlock--ImagePositionDesktopRight
    {% endif %}
    APlusBlock--ImagePositionMobile{{ block.settings.image_position_mobile | camelcase }}
  "
>
  <div class="APlusBlock__Images">
    {% render 'image', variant: 'square', image: block.settings.image %}

    <div class="APlusBlock__SecondaryImage">
      {% render 'image', variant: 'square', image: block.settings.secondary_image %}
    </div>
  </div>

  <div class="APlusBlock__Text">
    {% content_for 'blocks' %}
  </div>
</div>

{% stylesheet %}
  .APlusBlock {
    --secondary-image-size: 100px;
    display: flex;
    gap: calc(var(--secondary-image-size) / 2 + var(--size-m));
  }

  .APlusBlock__Images {
    position: relative;
    width: 40%;
  }

  @media screen and (max-width: 768px) {
    .APlusBlock {
      flex-direction: column;
    }

    .APlusBlock--ImagePositionMobileBottom .APlusBlock__Images {
      order: 1;
    }

    .APlusBlock__Images {
      width: 100%;
    }

    .APlusBlock--ImagePositionMobileBottom .APlusBlock__SecondaryImage {
      top: 0;
      left: 50%;
      transform: translate(-50%, -50%);
    }

    .APlusBlock--ImagePositionMobileTop .APlusBlock__SecondaryImage {
      top: unset;
      bottom: 0;
      left: 50%;
      transform: translate(-50%, 50%);
    }
  }

  @media screen and (min-width: 769px) {
    .APlusBlock--ImagePositionDesktopRight .APlusBlock__Images {
      order: 1;
    }

    .APlusBlock--ImagePositionDesktopRight .APlusBlock__SecondaryImage {
      left: 0;
      transform: translate(-50%, -50%);
    }
  }

  .APlusBlock__SecondaryImage {
    position: absolute;
    top: 50%;
    right: 0;
    width: var(--secondary-image-size);
    transform: translate(50%, -50%);
    border: var(--border-width) var(--border-style) var(--border-color);
    border-radius: 50%;
    overflow: hidden;
  }

  .APlusBlock__Text {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    gap: var(--size-s);
  }
{% endstylesheet %}

{% schema %}
{
  "name": "t:theme_blocks.a_plus_block.name",
  "settings": [
    {
      "type": "image_picker",
      "id": "image",
      "label": "t:global.settings.image.label"
    },
    {
      "type": "image_picker",
      "id": "secondary_image",
      "label": "t:global.settings.secondary_image.label"
    },
    {
      "type": "select",
      "id": "image_position_mobile",
      "label": "t:global.settings.image_position_mobile.label",
      "default": "top",
      "options": [
        { "value": "top", "label": "t:global.settings.position.options.top.label" },
        { "value": "bottom", "label": "t:global.settings.position.options.bottom.label" }
      ]
    },
    {
      "type": "select",
      "id": "image_position_desktop",
      "label": "t:global.settings.image_position_desktop.label",
      "default": "left",
      "options": [
        { "value": "left", "label": "t:global.settings.position.options.left.label" },
        { "value": "right", "label": "t:global.settings.position.options.right.label" }
      ]
    }
  ],
  "blocks": [
    {
      "type": "text-block"
    }
  ],
  "presets": [
    {
      "name": "t:theme_blocks.a_plus_block.presets.a_plus_block.name",
      "blocks": [
        {
          "type": "text-block",
          "settings": {
            "text": "Heading",
            "variant": "heading-medium"
          }
        },
        {
          "type": "text-block",
          "settings": {
            "text": "Lorem ipsum dolor sit amet consectetur adipisicing elit. In dicta voluptas sed explicabo enim voluptatibus aliquid magnam soluta vel sequi.",
            "variant": "body-medium"
          }
        }
      ]
    }
  ]
}
{% endschema %}
