<div
  class="
    ButtonGroupBlock
    ButtonGroupBlock--Align{{ block.settings.alignment | camelcase }}
  "
  style="--button-group-gap: var(--size-{{ block.settings.gap }});"
>
  {% content_for 'blocks' %}
</div>

{% stylesheet %}
  .ButtonGroupBlock {
    display: flex;
    flex-wrap: wrap;
    gap: var(--button-group-gap);
    align-items: center;
  }

  .ButtonGroupBlock--AlignLeft {
    justify-content: flex-start;
  }

  .ButtonGroupBlock--AlignCenter {
    justify-content: center;
  }

  .ButtonGroupBlock--AlignRight {
    justify-content: flex-end;
  }
{% endstylesheet %}

{% schema %}
{
  "name": "t:theme_blocks.button_group_block.name",
  "settings": [
    {
      "type": "text_alignment",
      "id": "alignment",
      "label": "t:global.settings.text_alignment.label"
    },
    {
      "type": "select",
      "id": "gap",
      "label": "t:global.settings.gap.label",
      "default": "m",
      "options": [
        { "value": "0", "label": "t:global.settings.gap.options.none.label" },
        { "value": "xs", "label": "XS" },
        { "value": "s", "label": "S" },
        { "value": "m", "label": "M" },
        { "value": "l", "label": "L" },
        { "value": "xl", "label": "XL" },
        { "value": "xxl", "label": "XXL" }
      ]
    }
  ],
  "blocks": [
    {
      "type": "button-block"
    }
  ],
  "presets": [
    {
      "name": "t:theme_blocks.button_group_block.presets.button_group_block.name"
    }
  ]
}
{% endschema %}
