<div class="IconBlock">
  {% render 'icon', icon: block.settings.icon, size: block.settings.size %}
</div>

{% stylesheet %}
  .IconBlock {
    display: flex;
  }
{% endstylesheet %}

{% schema %}
{
  "name": "t:theme_blocks.icon_block.name",
  "settings": [
    {
      "type": "select",
      "id": "icon",
      "label": "t:theme_blocks.all.settings.icon.label",
      "default": "default",
      "options": [
        { "value": "default", "label": "Default" },
        { "value": "eye", "label": "Eye" },
        { "value": "eye-off", "label": "Eye Off" },
        { "value": "heart", "label": "Heart" },
        { "value": "info", "label": "Info" },
        { "value": "landmark", "label": "Landmark" },
        { "value": "leafy-green", "label": "Leafy Green" },
        { "value": "menu", "label": "Menu" },
        { "value": "minus", "label": "Minus" },
        { "value": "percent", "label": "Percent" },
        { "value": "plus", "label": "Plus" },
        { "value": "search", "label": "Search" },
        { "value": "shopping-cart", "label": "Shopping Cart" },
        { "value": "square-arrow-left", "label": "Square Arrow Left" },
        { "value": "square-arrow-right", "label": "Square Arrow Right" },
        { "value": "star", "label": "Star" },
        { "value": "utensils-crossed", "label": "Utensils Crossed" },
        { "value": "user-round", "label": "User Round" },
        { "value": "x", "label": "X" }
      ]
    },
    {
      "type": "select",
      "id": "size",
      "label": "t:theme_blocks.all.settings.size.label",
      "default": "medium",
      "options": [
        { "value": "small", "label": "t:theme_blocks.all.settings.size.options.small.label" },
        { "value": "medium", "label": "t:theme_blocks.all.settings.size.options.medium.label" },
        { "value": "large", "label": "t:theme_blocks.all.settings.size.options.large.label" }
      ]
    }
  ],
  "presets": [
    {
      "name": "t:theme_blocks.icon_block.presets.heart.name",
      "settings": {
        "icon": "heart"
      }
    },
    {
      "name": "t:theme_blocks.icon_block.presets.star.name",
      "settings": {
        "icon": "star"
      }
    }
  ]
}
{% endschema %}
