<div class="IconWithTextBlock IconWithTextBlock--Align{{ block.settings.alignment | camelcase }}">
  {% content_for 'blocks' %}
</div>

{% stylesheet %}
  .IconWithTextBlock {
    display: flex;
    align-items: center;
    gap: var(--icon-with-text-gap);
  }

  .IconWithTextBlock--AlignLeft {
    text-align: left;
  }

  .IconWithTextBlock--AlignCenter {
    text-align: center;
  }

  .IconWithTextBlock--AlignRight {
    text-align: right;
  }
{% endstylesheet %}

{% schema %}
{
  "name": "t:theme_blocks.icon_with_text_block.name",
  "settings": [
    {
      "type": "header",
      "content": "t:theme_blocks.all.headers.block_settings.content"
    },
    {
      "type": "text_alignment",
      "id": "alignment",
      "label": "t:global.settings.text_alignment.label",
      "default": "left"
    }
  ],
  "blocks": [
    {
      "type": "icon-block"
    },
    {
      "type": "text-block"
    }
  ],
  "presets": [
    {
      "name": "t:theme_blocks.icon_with_text_block.presets.icon_with_text.name",
      "settings": {
        "alignment": "left"
      },
      "blocks": [
        {
          "type": "icon-block",
          "settings": {
            "icon": "default"
          }
        },
        {
          "type": "text-block",
          "settings": {
            "text": "t:theme_blocks.icon_with_text_block.presets.icon_with_text.blocks.text_block.settings.text"
          }
        }
      ]
    },
    {
      "name": "t:theme_blocks.icon_with_text_block.presets.info_icon_with_text.name",
      "settings": {
        "alignment": "left"
      },
      "blocks": [
        {
          "type": "icon-block",
          "settings": {
            "icon": "info"
          }
        },
        {
          "type": "text-block",
          "settings": {
            "text": "t:theme_blocks.icon_with_text_block.presets.info_icon_with_text.blocks.text_block.settings.text"
          }
        }
      ]
    },
    {
      "name": "t:theme_blocks.icon_with_text_block.presets.sale_icon_with_text.name",
      "settings": {
        "alignment": "left"
      },
      "blocks": [
        {
          "type": "icon-block",
          "settings": {
            "icon": "percent"
          }
        },
        {
          "type": "text-block",
          "settings": {
            "text": "t:theme_blocks.icon_with_text_block.presets.sale_icon_with_text.blocks.text_block.settings.text"
          }
        }
      ]
    }
  ]
}
{% endschema %}
