<div class="IconBlock">
  {% render 'icon', icon: block.settings.icon, size: block.settings.size %}
</div>

{% stylesheet %}
  .IconBlock {
    display: flex;
  }
{% endstylesheet %}

{% schema %}
{
  "name": "Icon",
  "settings": [
    {
      "type": "select",
      "id": "icon",
      "label": "Icon",
      "default": "default",
      "options": [
        { "value": "default", "label": "Default" },
        { "value": "heart", "label": "Heart" },
        { "value": "info", "label": "Info" },
        { "value": "percent", "label": "Percent" },
        { "value": "star", "label": "Star" }
      ]
    },
    {
      "type": "select",
      "id": "size",
      "label": "Size",
      "default": "medium",
      "options": [
        { "value": "small", "label": "Small" },
        { "value": "medium", "label": "Medium" },
        { "value": "large", "label": "Large" }
      ]
    }
  ],
  "presets": [
    {
      "name": "Heart",
      "settings": {
        "icon": "heart"
      }
    },
    {
      "name": "Star",
      "settings": {
        "icon": "star"
      }
    }
  ]
}
{% endschema %}
