<div
  class="
    IconWithTextBlock
    IconWithTextBlock--Align{{ block.settings.alignment | camelcase }}
    IconWithTextBlock--Layout{{ block.settings.layout | camelcase }}
  "
  style="--icon-with-text-gap: var(--size-{{ block.settings.gap }});"
>
  {% content_for 'blocks' %}
</div>

{% stylesheet %}
  .IconWithTextBlock {
    display: flex;
    align-items: center;
    gap: var(--icon-with-text-gap);
  }

  .IconWithTextBlock--AlignLeft {
    justify-content: flex-start;
  }

  .IconWithTextBlock--AlignCenter {
    justify-content: center;
  }

  .IconWithTextBlock--AlignRight {
    justify-content: flex-end;
  }

  .IconWithTextBlock--LayoutVertical {
    flex-direction: column;
  }

  .IconWithTextBlock--LayoutVertical.IconWithTextBlock--AlignLeft {
    align-items: flex-start;
  }

  .IconWithTextBlock--LayoutVertical.IconWithTextBlock--AlignCenter {
    align-items: center;
  }

  .IconWithTextBlock--LayoutVertical.IconWithTextBlock--AlignRight {
    align-items: flex-end;
  }
{% endstylesheet %}

{% schema %}
{
  "name": "t:theme_blocks.icon_with_text_block.name",
  "settings": [
    {
      "type": "header",
      "content": "t:theme_blocks.all.headers.block_settings.content"
    },
    {
      "type": "text_alignment",
      "id": "alignment",
      "label": "t:global.settings.text_alignment.label",
      "default": "left"
    },
    {
      "type": "select",
      "id": "layout",
      "label": "t:global.settings.layout.label",
      "default": "horizontal",
      "options": [
        { "value": "horizontal", "label": "t:global.settings.layout.options.horizontal.label" },
        { "value": "vertical", "label": "t:global.settings.layout.options.vertical.label" }
      ]
    },
    {
      "type": "select",
      "id": "gap",
      "label": "t:global.settings.gap.label",
      "default": "s",
      "options": [
        { "value": "0", "label": "t:global.settings.gap.options.none.label" },
        { "value": "xs", "label": "XS" },
        { "value": "s", "label": "S" },
        { "value": "m", "label": "M" },
        { "value": "l", "label": "L" },
        { "value": "xl", "label": "XL" },
        { "value": "xxl", "label": "XXL" }
      ]
    }
  ],
  "blocks": [
    {
      "type": "icon-block"
    },
    {
      "type": "text-block"
    }
  ],
  "presets": [
    {
      "name": "t:theme_blocks.icon_with_text_block.presets.icon_with_text.name",
      "settings": {
        "alignment": "left"
      },
      "blocks": [
        {
          "type": "icon-block",
          "settings": {
            "icon": "default"
          }
        },
        {
          "type": "text-block",
          "settings": {
            "text": "Text"
          }
        }
      ]
    },
    {
      "name": "t:theme_blocks.icon_with_text_block.presets.info_icon_with_text.name",
      "settings": {
        "alignment": "left"
      },
      "blocks": [
        {
          "type": "icon-block",
          "settings": {
            "icon": "info"
          }
        },
        {
          "type": "text-block",
          "settings": {
            "text": "Text"
          }
        }
      ]
    },
    {
      "name": "t:theme_blocks.icon_with_text_block.presets.sale_icon_with_text.name",
      "settings": {
        "alignment": "left"
      },
      "blocks": [
        {
          "type": "icon-block",
          "settings": {
            "icon": "percent"
          }
        },
        {
          "type": "text-block",
          "settings": {
            "text": "Text"
          }
        }
      ]
    }
  ]
}
{% endschema %}
