<div class="IconWithTextBlock IconWithTextBlock--Align{{ block.settings.alignment | camelcase }}">
  {% content_for 'blocks' %}
</div>

{% stylesheet %}
  .IconWithTextBlock {
    display: flex;
    align-items: center;
    gap: var(--icon-with-text-gap);
  }

  .IconWithTextBlock--AlignLeft {
    text-align: left;
  }

  .IconWithTextBlock--AlignCenter {
    text-align: center;
  }

  .IconWithTextBlock--AlignRight {
    text-align: right;
  }
{% endstylesheet %}

{% schema %}
{
  "name": "Icon with Text",
  "settings": [
    {
      "type": "header",
      "content": "Block Settings"
    },
    {
      "type": "text_alignment",
      "id": "alignment",
      "label": "Alignment",
      "default": "left"
    }
  ],
  "blocks": [
    {
      "type": "icon"
    },
    {
      "type": "text"
    }
  ],
  "presets": [
    {
      "name": "Icon with Text",
      "settings": {
        "alignment": "left"
      },
      "blocks": [
        {
          "type": "icon",
          "settings": {
            "icon": "default"
          }
        },
        {
          "type": "text",
          "settings": {
            "text": "<p>Some Text</p>"
          }
        }
      ]
    },
    {
      "name": "Info Icon with Text",
      "settings": {
        "alignment": "left"
      },
      "blocks": [
        {
          "type": "icon",
          "settings": {
            "icon": "info"
          }
        },
        {
          "type": "text",
          "settings": {
            "text": "<p>Some Info Text</p>"
          }
        }
      ]
    },
    {
      "name": "Sale Icon with Text",
      "settings": {
        "alignment": "left"
      },
      "blocks": [
        {
          "type": "icon",
          "settings": {
            "icon": "percent"
          }
        },
        {
          "type": "text",
          "settings": {
            "text": "<p>Save big on our latest drop</p>"
          }
        }
      ]
    }
  ]
}
{% endschema %}
