<div class="TextBlock TextBlock--Align{{ block.settings.alignment | camelcase }}">
  {% render 'text', text: block.settings.text, as: 'div', variant: block.settings.variant %}
</div>

{% stylesheet %}
  .TextBlock--AlignLeft {
    text-align: left;
  }

  .TextBlock--AlignCenter {
    text-align: center;
  }

  .TextBlock--AlignRight {
    text-align: right;
  }
{% endstylesheet %}

{% schema %}
{
  "name": "Text",
  "settings": [
    {
      "type": "inline_richtext",
      "id": "text",
      "label": "Text"
    },
    {
      "type": "select",
      "id": "variant",
      "label": "Text Variant",
      "default": "body-medium",
      "options": [
        { "value": "body-small", "label": "Body Small" },
        { "value": "body-medium", "label": "Body Medium" },
        { "value": "body-large", "label": "Body Large" },
        { "value": "heading-small", "label": "Heading Small" },
        { "value": "heading-medium", "label": "Heading Medium" },
        { "value": "heading-large", "label": "Heading Large" }
      ]
    },
    {
      "type": "text_alignment",
      "id": "alignment",
      "label": "Alignment",
      "default": "left"
    }
  ],
  "presets": [
    {
      "name": "Text",
      "settings": {
        "text": "This is a text block.",
        "alignment": "left"
      }
    }
  ]
}
{% endschema %}
