<div class="TextBlock TextBlock--Align{{ block.settings.alignment | camelcase }}">
  {% render 'text', text: block.settings.text, as: block.settings.as, variant: block.settings.variant %}
</div>

{% stylesheet %}
  .TextBlock--AlignLeft {
    text-align: left;
  }

  .TextBlock--AlignCenter {
    text-align: center;
  }

  .TextBlock--AlignRight {
    text-align: right;
  }
{% endstylesheet %}

{% schema %}
{
  "name": "t:theme_blocks.text_block.name",
  "settings": [
    {
      "type": "inline_richtext",
      "id": "text",
      "label": "t:global.settings.text.label"
    },
    {
      "type": "select",
      "id": "variant",
      "label": "t:global.settings.text_variant.label",
      "default": "body-medium",
      "options": [
        { "value": "body-small", "label": "t:global.settings.text_variant.options.body-small.label" },
        { "value": "body-medium", "label": "t:global.settings.text_variant.options.body-medium.label" },
        { "value": "body-large", "label": "t:global.settings.text_variant.options.body-large.label" },
        { "value": "heading-small", "label": "t:global.settings.text_variant.options.heading-small.label" },
        { "value": "heading-medium", "label": "t:global.settings.text_variant.options.heading-medium.label" },
        { "value": "heading-large", "label": "t:global.settings.text_variant.options.heading-large.label" }
      ]
    },
    {
      "type": "select",
      "id": "as",
      "label": "t:global.settings.tag.label",
      "default": "div",
      "options": [
        { "value": "h1", "label": "h1" },
        { "value": "h2", "label": "h2" },
        { "value": "h3", "label": "h3" },
        { "value": "h4", "label": "h4" },
        { "value": "h5", "label": "h5" },
        { "value": "h6", "label": "h6" },
        { "value": "span", "label": "span" },
        { "value": "div", "label": "div" }
      ]
    },
    {
      "type": "text_alignment",
      "id": "alignment",
      "label": "t:global.settings.text_alignment.label",
      "default": "left"
    }
  ],
  "presets": [
    {
      "name": "t:theme_blocks.text_block.presets.text_block.name",
      "settings": {
        "text": "Text",
        "alignment": "left"
      }
    }
  ]
}
{% endschema %}
