<div class="Section ColorScheme--{{ section.settings.color_scheme.id | camelcase }}">
  <div class="Section__Inner">
    <div class="AnnouncementBar">
      {% content_for 'blocks' %}
    </div>
  </div>
</div>

{% stylesheet %}
  .AnnouncementBar {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: var(--announcement-bar-gap, 0);
    padding-block: var(--announcement-bar-padding-block);
    padding-inline: var(--announcement-bar-padding-inline);
  }
{% endstylesheet %}

{% schema %}
{
  "name": "Announcement Bar",
  "limit": 1,
  "enabled_on": {
    "groups": ["header"]
  },
  "blocks": [
    {
      "type": "icon-with-text-block"
    },
    {
      "type": "@app"
    }
  ],
  "settings": [
    {
      "type": "header",
      "content": "Section Appearance"
    },
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "Color Scheme"
    }
  ],
  "presets": [
    {
      "name": "Announcement Bar",
      "category": "Header",
      "settings": {
        "color_scheme": "inverted"
      },
      "blocks": [
        {
          "type": "icon-with-text-block",
          "settings": {
            "alignment": "center"
          },
          "blocks": [
            {
              "type": "icon-block",
              "settings": {
                "icon": "info"
              }
            },
            {
              "type": "text-block",
              "settings": {
                "text": "<p>Some Info Text</p>"
              }
            }
          ]
        },
        {
          "type": "icon-with-text-block",
          "settings": {
            "alignment": "center"
          },
          "blocks": [
            {
              "type": "icon-block",
              "settings": {
                "icon": "percent"
              }
            },
            {
              "type": "text-block",
              "settings": {
                "text": "<p>Save big on our latest drop</p>"
              }
            }
          ]
        }
      ]
    }
  ]
}
{% endschema %}
