<section
  {% if section.settings.sticky %}
    is="section-component"
    data-section-index="{{ section.index0 }}"
  {% endif %}

  class="
    Section
    Section--PaddingBlockSmall
    {% if section.settings.sticky %}
      Section--Sticky
    {% endif %}
    ColorScheme--{{ section.settings.color_scheme.id | camelcase }}
  "
>
  <div class="Section__Inner">
    <div is="announcement-bar-component" class="AnnouncementBar u-NoScrollbar">
      {% content_for 'blocks' %}
    </div>
  </div>
</section>

{% stylesheet %}
  .AnnouncementBar {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: var(--announcement-bar-gap, 0);
    padding-block: var(--announcement-bar-padding-block);
    padding-inline: var(--announcement-bar-padding-inline);
  }

  .AnnouncementBar > * {
    flex-shrink: 0;
  }

  .AnnouncementBar--Slider {
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
    justify-content: flex-start;
  }

  .AnnouncementBar--Slider > * {
    display: flex;
    justify-content: center;
    scroll-snap-align: center;
    width: 100%;
  }
{% endstylesheet %}

{% schema %}
{
  "name": "t:sections.announcement_bar.name",
  "class": "MaybeStickySection",
  "enabled_on": {
    "groups": ["header"]
  },
  "blocks": [
    {
      "type": "icon-with-text-block"
    },
    {
      "type": "@app"
    },
    {
      "type": "rating-block"
    }
  ],
  "settings": [
    {
      "type": "header",
      "content": "t:sections.all.headers.section_appearance.content"
    },
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "t:sections.all.settings.color_scheme.label",
      "info": "t:sections.all.settings.color_scheme.info"
    },
    {
      "type": "checkbox",
      "id": "sticky",
      "label": "t:sections.all.settings.sticky.label",
      "default": false,
      "info": "t:sections.all.settings.sticky.info"
    }
  ],
  "presets": [
    {
      "name": "t:sections.announcement_bar.presets.announcement_bar.name",
      "category": "t:sections.announcement_bar.presets.announcement_bar.category",
      "settings": {
        "color_scheme": "secondary"
      },
      "blocks": [
        {
          "type": "icon-with-text-block",
          "settings": {
            "alignment": "center"
          },
          "blocks": [
            {
              "type": "icon-block",
              "settings": {
                "icon": "info"
              }
            },
            {
              "type": "text-block",
              "settings": {
                "text": "Some Info Text"
              }
            }
          ]
        },
        {
          "type": "icon-with-text-block",
          "settings": {
            "alignment": "center"
          },
          "blocks": [
            {
              "type": "icon-block",
              "settings": {
                "icon": "percent"
              }
            },
            {
              "type": "text-block",
              "settings": {
                "text": "Save big on our latest drop"
              }
            }
          ]
        }
      ]
    }
  ]
}
{% endschema %}
