{% assign navigation_collections = collection.metafields.custom.sub_collections.value
  | default: collection.metafields.custom.parent_collection.value.metafields.custom.sub_collections.value
%}

{% if navigation_collections != blank %}
  <section
    class="
      Section
      Section--PaddingBlock{{ section.settings.padding_block | camelcase }}
      ColorScheme--{{ section.settings.color_scheme.id | camelcase }}
    "
  >
    <div class="Section__Inner">
      <ul class="CollectionNavigation u-NoList">
        {% for navigation_collection in navigation_collections %}
          {% assign navigation_image = navigation_collection.metafields.custom.collection_navigation_image.value
            | default: navigation_collection.image
          %}

          {% assign active = false %}

          {% if navigation_collection.handle == collection.handle %}
            {% assign active = true %}
          {% endif %}

          <li class="CollectionNavigation__Item">
            {% render 'collection-navigation-item',
              title: navigation_collection.title,
              url: navigation_collection.url,
              image: navigation_image,
              active: active
            %}
          </li>
        {% endfor %}
      </ul>
    </div>
  </section>
{% endif %}

{% schema %}
{
  "name": "t:sections.collection_navigation.name",
  "enabled_on": {
    "templates": ["collection"]
  },
  "settings": [
    {
      "type": "header",
      "content": "t:sections.all.headers.section_appearance.content"
    },
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "t:sections.all.settings.color_scheme.label",
      "info": "t:sections.all.settings.color_scheme.info"
    },
    {
      "type": "select",
      "id": "padding_block",
      "label": "t:sections.all.settings.padding_block.label",
      "default": "medium",
      "options": [
        { "value": "none", "label": "t:sections.all.settings.padding_block.options.none.label" },
        { "value": "small", "label": "t:sections.all.settings.padding_block.options.small.label" },
        { "value": "medium", "label": "t:sections.all.settings.padding_block.options.medium.label" },
        { "value": "large", "label": "t:sections.all.settings.padding_block.options.large.label" }
      ]
    }
  ],
  "presets": [
    {
      "name": "t:sections.collection_navigation.presets.collection_navigation.name"
    }
  ]
}
{% endschema %}

{% stylesheet %}
  .CollectionNavigation {
    display: flex;
    justify-content: center;
    gap: var(--size-s);
  }
{% endstylesheet %}
