<section
  class="
    Section
    Section--PaddingBlockSmall
    ColorScheme--{{ section.settings.color_scheme.id | camelcase }}
  "
>
  <div class="Section__Inner">
    <div class="Footer">
      <div class="Footer__ContentPrimary">
        {% for link in section.settings.link_list.links %}
          {% if link.links.size > 0 %}
            {% render 'link-group', heading: link.title, links: link.links %}
          {% endif %}
        {% endfor %}
      </div>

      <div class="Footer__ContentSecondary">
        {% capture text %}
        © {{ 'now' | date: '%Y' }} {{ shop.name }}
        {% endcapture %}
        <script>
          console.log({{ text | json }});
        </script>

        {% render 'text', text: text %}

        {% render 'payment-methods' %}
      </div>
    </div>
  </div>
</section>

{% stylesheet %}
  .Footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--size-m);
  }

  .Footer__ContentPrimary {
    display: flex;
    flex-direction: column;
    gap: var(--size-m);
  }

  .Footer__ContentSecondary {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--size-m);
  }

  @media screen and (min-width: 769px) {
    .Footer {
      align-items: flex-start;
    }

    .Footer__ContentPrimary {
      gap: var(--size-xl);
      flex-direction: row;
    }

    .Footer__ContentSecondary {
      gap: var(--size-m);
      flex-direction: row;
      justify-content: center;
    }
  }
{% endstylesheet %}

{% schema %}
{
  "name": "t:sections.footer.name",
  "tag": "footer",
  "settings": [
    {
      "type": "header",
      "content": "t:sections.all.headers.section_appearance.content"
    },
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "t:sections.all.settings.color_scheme.label",
      "info": "t:sections.all.settings.color_scheme.info"
    },
    {
      "type": "header",
      "content": "t:sections.all.headers.section_content.content"
    },
    {
      "type": "link_list",
      "id": "link_list",
      "label": "t:sections.all.settings.link_list.label",
      "default": "footer"
    }
  ]
}
{% endschema %}
