<section class="Section Section--PaddingBlockLarge">
  <div class="Section__Inner">
    {% render 'empty-state',
      heading: '404 - Not found',
      text: 'The page you tried to view does not exist.',
      link_text: 'Back to Home',
      link: '/index'
    %}
  </div>
</section>

{% schema %}
{
  "name": "main_404",
  "settings": [
    {
      "type": "header",
      "content": "t:sections.all.headers.section_appearance.content"
    },
    {
      "type": "text",
      "id": "heading",
      "label": "Heading"
    },
    {
      "type": "text",
      "id": "text",
      "label": "Text"
    },
    {
      "type": "select",
      "id": "gallery_mobile",
      "label": "t:sections.all.settings.gallery_mobile.label",
      "default": "slider",
      "options": [
        { "value": "stack", "label": "t:sections.all.settings.gallery_mobile.options.stack.label" },
        { "value": "slider", "label": "t:sections.all.settings.gallery_mobile.options.slider.label" },
        { "value": "grid", "label": "t:sections.all.settings.gallery_mobile.options.grid.label" }
      ]
    },
    {
      "type": "number",
      "id": "columns_mobile",
      "label": "t:sections.all.settings.columns_mobile.label",
      "default": 2,
      "visible_if": "{{ section.settings.gallery_mobile == 'grid' }}"
    }
  ],
  "blocks": [
    {
      "name": "t:blocks.titel.name",
      "type": "title"
    },
    {
      "name": "t:blocks.product_variant_selector.name",
      "type": "product-variant-selector",
      "limit": 1
    },
    {
      "name": "t:blocks.price_list.name",
      "type": "price-list"
    },
    {
      "name": "t:blocks.quantity_selector.name",
      "type": "quantity-selector",
      "limit": 1
    },
    {
      "name": "t:blocks.product_rating.name",
      "type": "product-rating"
    },
    {
      "name": "t:blocks.buy_buttons.name",
      "type": "buy-buttons",
      "limit": 1
    },
    {
      "name": "t:blocks.shipping_estimation.name",
      "type": "shipping-estimation"
    },
    {
      "name": "t:blocks.selling_points.name",
      "type": "selling-points"
    }
  ]
}
{% endschema %}
