<section class="Section Section--PaddingBlockLarge">
  <div>
    {% render 'empty-state',
      heading: '404 - Not found',
      text: 'The page you tried to view does not exist.',
      link_text: 'Back to Home',
      link: '/index'
    %}
  </div>
</section>
