{% assign limit = section.settings.limit %}
{% if section.settings.limit == 0 %}
  {% assign limit = null %}
{% endif %}

<section class="Section ColorScheme--{{ section.settings.color_scheme.id | camelcase }}">
  <div class="Section__Inner">
    {% render 'text', text: section.settings.heading, as: 'h2', variant: 'heading-medium' %}

    {% render 'product-list',
      products: section.settings.product_list,
      columns_mobile: section.settings.columns_mobile,
      columns_desktop: section.settings.columns_desktop,
      limit: limit
    %}
  </div>
</section>

{% schema %}
{
  "name": "Product List",
  "disabled_on": {
    "groups": ["header", "footer", "aside"]
  },
  "settings": [
    {
      "type": "header",
      "content": "Section Appearance"
    },
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "Color Scheme"
    },
    {
      "type": "number",
      "id": "columns_mobile",
      "label": "Columns Mobile",
      "default": 2
    },
    {
      "type": "number",
      "id": "columns_desktop",
      "label": "Columns Desktop",
      "default": 4
    },
    {
      "type": "product_list",
      "id": "product_list",
      "label": "Products"
    },
    {
      "type": "number",
      "id": "limit",
      "label": "Maximum Product Cards",
      "default": 0,
      "info": "Ignore when 0"
    },
    {
      "type": "text",
      "id": "heading",
      "label": "Heading",
      "default": "Product List"
    }
  ],
  "presets": [
    {
      "name": "Product List"
    }
  ]
}
{% endschema %}
