{% liquid
  assign collection_reference = section.settings.collection_reference | default: collection
  assign products = section.settings.product_list | default: collection_reference.products

  assign columns_mobile = section.settings.columns_mobile
  assign columns_desktop = section.settings.columns_desktop
  assign grid_gap = section.settings.grid_gap
%}

<section
  class="
    Section
    Section--PaddingBlock{{ section.settings.padding_block | camelcase }}
    ColorScheme--{{ section.settings.color_scheme.id | camelcase }}
  "
>
  <div class="Section__Inner">
    {% render 'product-grid',
      products: products,
      collection_reference: collection_reference,
      grid_gap: grid_gap,
      columns_mobile: columns_mobile,
      columns_desktop: columns_desktop,
      enable_pagination: section.settings.enable_pagination,
      per_page: section.settings.per_page,
      enable_quick_add_button: section.settings.enable_quick_add_button,
      enable_wishlist_button: section.settings.enable_wishlist_button
    %}
  </div>
</section>

{% schema %}
{
  "name": "t:sections.product_grid.name",
  "disabled_on": {
    "groups": ["header", "footer", "aside"]
  },
  "settings": [
    {
      "type": "header",
      "content": "t:sections.all.headers.section_appearance.content"
    },
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "t:sections.all.settings.color_scheme.label",
      "info": "t:sections.all.settings.color_scheme.info"
    },
    {
      "type": "select",
      "id": "padding_block",
      "label": "t:sections.all.settings.padding_block.label",
      "default": "medium",
      "options": [
        { "value": "none", "label": "t:sections.all.settings.padding_block.options.none.label" },
        { "value": "small", "label": "t:sections.all.settings.padding_block.options.small.label" },
        { "value": "medium", "label": "t:sections.all.settings.padding_block.options.medium.label" },
        { "value": "large", "label": "t:sections.all.settings.padding_block.options.large.label" }
      ]
    },
    {
      "type": "number",
      "id": "columns_mobile",
      "label": "t:sections.all.settings.columns_mobile.label",
      "default": 2
    },
    {
      "type": "number",
      "id": "columns_desktop",
      "label": "t:sections.all.settings.columns_desktop.label",
      "default": 4
    },
    {
      "type": "select",
      "id": "grid_gap",
      "label": "t:global.settings.gap.label",
      "default": "m",
      "options": [
        { "value": "0", "label": "t:global.settings.gap.options.none.label" },
        { "value": "xs", "label": "XS" },
        { "value": "s", "label": "S" },
        { "value": "m", "label": "M" },
        { "value": "l", "label": "L" },
        { "value": "xl", "label": "XL" },
        { "value": "xxl", "label": "XXL" }
      ]
    },
    {
      "type": "checkbox",
      "id": "enable_pagination",
      "label": "t:sections.product_grid.settings.enable_pagination.label",
      "default": false,
      "info": "t:sections.product_grid.settings.enable_pagination.info"
    },
    {
      "type": "range",
      "id": "per_page",
      "label": "t:sections.product_grid.settings.per_page.label",
      "min": 1,
      "max": 100,
      "step": 1,
      "default": 16,
      "visible_if": "{{ section.settings.enable_pagination == true }}"
    },
    {
      "type": "product_list",
      "id": "product_list",
      "label": "t:sections.all.settings.product_list.label"
    },
    {
      "type": "collection",
      "id": "collection_reference",
      "label": "t:sections.product_grid.settings.collection_reference.label",
      "info": "t:sections.product_grid.settings.collection_reference.info"
    },
    {
      "type": "checkbox",
      "id": "enable_quick_add_button",
      "label": "t:sections.all.settings.enable_quick_add_button.label",
      "default": false
    },
    {
      "type": "checkbox",
      "id": "enable_wishlist_button",
      "label": "t:sections.all.settings.enable_wishlist_button.label",
      "default": false
    }
  ],
  "presets": [
    {
      "name": "t:sections.product_grid.presets.product_grid.name"
    }
  ]
}
{% endschema %}
