{% assign limit = section.settings.limit %}
{% if section.settings.limit == 0 %}
  {% assign limit = null %}
{% endif %}

<section class="Section ColorScheme--{{ section.settings.color_scheme.id | camelcase }}">
  <div class="Section__Inner">
    {% render 'text', text: section.settings.heading, as: 'h2', variant: 'heading-medium' %}

    {% render 'product-list',
      products: section.settings.product_list,
      columns_mobile: section.settings.columns_mobile,
      columns_desktop: section.settings.columns_desktop,
      limit: limit
    %}
  </div>
</section>

{% schema %}
{
  "name": "t:sections.product_list.name",
  "settings": [
    {
      "type": "header",
      "content": "t:sections.all.section_appearance.content"
    },
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "t:sections.all.settings.color_scheme.label",
      "info": "t:sections.all.settings.color_scheme.info"
    },
    {
      "type": "number",
      "id": "columns_mobile",
      "label": "t:sections.all.settings.columns_mobile.label",
      "default": 2
    },
    {
      "type": "number",
      "id": "columns_desktop",
      "label": "t:sections.all.settings.columns_desktop.label",
      "default": 4
    },
    {
      "type": "product_list",
      "id": "product_list",
      "label": "t:sections.all.settings.product_list.label"
    },
    {
      "type": "number",
      "id": "limit",
      "label": "t:sections.all.settings.product_limit.label",
      "default": 0,
      "info": "t:sections.all.settings.product_limit.info"
    },
    {
      "type": "text",
      "id": "heading",
      "label": "t:sections.all.settings.heading.label",
      "default": "t:sections.all.settings.heading.default"
    }
  ],
  "presets": [
    {
      "name": "t:sections.product_list.presets.product_list.name"
    }
  ]
}
{% endschema %}
