<section
  class="
    Section
    ColorScheme--{{ section.settings.color_scheme.id | camelcase }}
  "
>
  <div class="Section__Inner">
    <div class="ShopTheLook">
      <div class="ShopTheLook__Image">
        {% render 'image', image: section.settings.image %}
      </div>
      <div
        class="ShopTheLook__Indicator"
        style="--x-position: 25; --y-position: 25"
        data-handle="1-0"
      >
        {% render 'indicator-item' %}
      </div>
      <div class="ShopTheLook__Indicator">
        {% render 'indicator-item' %}
      </div>
      <div class="ShopTheLook__Indicator">
        {% render 'indicator-item' %}
      </div>
    </div>
  </div>
</section>

{% schema %}
{
  "name": "t:sections.hero.settings.shop_the_look.name",
  "settings": [
    {
      "type": "header",
      "content": "t:sections.all.headers.section_appearance.content"
    },
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "t:sections.all.settings.color_scheme.label",
      "info": "t:sections.all.settings.color_scheme.info"
    },
    {
      "type": "header",
      "content": "t:sections.all.headers.section_content.content"
    },
    {
      "type": "image_picker",
      "id": "image",
      "label": "t:global.settings.image.label"
    }
  ],
  "presets": [
    {
      "name": "t:sections.hero.settings.shop_the_look.presets.name"
    }
  ]
}
{% endschema %}

{% stylesheet %}
  .ShopTheLook_Image {
    position: relative;
  }

  .ShopTheLook_Indicator {
    position: absolute;
  }
{% endstylesheet %}
