<section
  class="
    Section
    Section--PaddingBlockLarge
    ColorScheme--{{ section.settings.color_scheme.id | camelcase }}
  "
>
  <div class="Section__Inner">
    {% render 'text', text: 'Test Section', as: 'h2', variant: 'heading-medium' %}

    <div class="TestSection">
      {% capture accordion_items %}
        <li>
          {% render 'accordion-item', label: "What is accordion", content: "This is accordion", open: true %}
        </li>

        <li>
          {% render 'accordion-item', label: "What is accordion", content: "This is accordion" %}
        </li>

        <li>
          {% capture icon %}
            {% render 'icon', icon: "heart" %}
          {% endcapture %}

          {% render 'accordion-item', label: "What is accordion", content: icon %}
        </li>
      {% endcapture %}

      {% render 'accordion', accordion_items: accordion_items %}

      {% render 'avatar', initials: 'AC' %}

      {% render 'avatar', image: images['developer-user1.png'] %}
    </div>
  </div>
</section>

{% stylesheet %}
{% endstylesheet %}

{% schema %}
{
  "name": "Test Section",
  "disabled_on": {
    "groups": ["header", "footer", "aside"]
  },
  "settings": [
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "Color Scheme",
      "default": "default"
    }
  ],
  "presets": [
    {
      "name": "Test Section"
    }
  ]
}
{% endschema %}
