<section
  class="
    Section
    Section--PaddingBlockLarge
    ColorScheme--{{ section.settings.color_scheme.id | camelcase }}
  "
>
  <div class="Section__Inner">
    {% render 'text', text: 'Test Section', as: 'h2', variant: 'heading-medium' %}

    <div class="TestSection">
      {% render 'text', text: 'Insert your test component here' %}

      {% render 'toaster' %}

      {% render 'button', text: 'share', action: 'share' %}

      {% render 'social-links' %}
    </div>
  </div>
</section>

{% stylesheet %}
  .TestSection {
    display: flex;
    flex-direction: column;
    gap: var(--size-m);
  }
{% endstylesheet %}

{% schema %}
{
  "name": "Test Section",
  "disabled_on": {
    "groups": ["header", "footer", "aside"]
  },
  "settings": [
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "Color Scheme",
      "default": "default"
    }
  ],
  "presets": [
    {
      "name": "Test Section"
    }
  ]
}
{% endschema %}
