<section
  class="
    Section
    Section--PaddingBlockLarge
    ColorScheme--{{ section.settings.color_scheme.id | camelcase }}
  "
>
  <div class="Section__Inner">
    {% render 'text', text: 'Test Section', as: 'h2', variant: 'heading-medium' %}

    <div class="TestSection">
      {% render 'text', text: 'Insert your test component here' %}

      {% assign test_product = all_products['t-shirt'] %}
      {% assign test_video = test_product.media | where: 'media_type', 'video' | first %}
      {% assign test_model = test_product.media | where: 'media_type', 'model' | first %}

      {% if test_video %}
        {% render 'video', video: test_video, variant: 'square' %}
        {% render 'video', video: test_video, variant: 'landscape' %}
        {% render 'video', video: test_video, variant: 'portrait' %}
      {% endif %}

      {% if test_model %}
        {% render 'model', model: test_model %}
      {% endif %}
    </div>
  </div>
</section>

{% stylesheet %}
  .TestSection {
    display: flex;
    flex-direction: column;
    gap: var(--size-m);
  }
{% endstylesheet %}

{% schema %}
{
  "name": "Test Section",
  "disabled_on": {
    "groups": ["header", "footer", "aside"]
  },
  "settings": [
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "Color Scheme",
      "default": "default"
    }
  ],
  "presets": [
    {
      "name": "Test Section"
    }
  ]
}
{% endschema %}
