<section
  class="
    Section
    Section--PaddingBlockLarge
    ColorScheme--{{ section.settings.color_scheme.id | camelcase }}
  "
>
  <div class="Section__Inner">
    {% render 'text', text: 'Test Section', as: 'h2', variant: 'heading-medium' %}

    <div class="TestSection">
      {% render 'text', text: 'Insert your test component here' %}

      {% render 'text-field' %}

      {% render 'text-field', label: 'disabled', disabled: true, value: 'value' %}

      {% render 'text-field', label: 'Label', placeholder: 'placeholder' %}

      {% render 'text-field', label: 'email', placeholder: 'placeholder', type: 'email', required: true %}

      {% render 'text-field', label: 'password', placeholder: 'placeholder', type: 'password' %}

      {% render 'text-field', label: 'text area', placeholder: 'placeholder', type: 'text-area' %}

      {% render 'text-field', label: 'text area', value: 'value', type: 'text-area', rows: 3 %}
    </div>
  </div>
</section>

{% stylesheet %}
  .TestSection {
    max-width: 400px;
  }
{% endstylesheet %}

{% schema %}
{
  "name": "Test Section",
  "disabled_on": {
    "groups": ["header", "footer", "aside"]
  },
  "settings": [
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "Color Scheme",
      "default": "default"
    }
  ],
  "presets": [
    {
      "name": "Test Section"
    }
  ]
}
{% endschema %}
