<section class="Section">
  <div class="Section__Inner">
    {% render 'text', text: 'Test Section', as: 'h2', variant: 'heading-medium' %}

    {% render 'language-selector' %}

    {% assign link_list = linklists['footer-1'].links %}

    {% render 'link-group', heading: 'Customer Service', links: link_list %}
  </div>
</section>
