<section class="Section">
  <div class="Section__Inner">
    {% render 'text', text: 'Text', as: 'h2', variant: 'heading-large' %}

    {% render 'text', text: 'Text heading large', as: 'h2', variant: 'heading-large' %}

    {% render 'text', text: 'Text heading medium', as: 'h2', variant: 'heading-medium' %}

    {% render 'text', text: 'Text heading small', as: 'h2', variant: 'heading-small' %}

    {% render 'text', text: 'Text body large', variant: 'body-large' %}

    {% render 'text', text: 'Text body medium' %}

    {% render 'text', text: 'Text body small', variant: 'body-small' %}

    {% render 'text', text: 'Button', as: 'h2', variant: 'heading-large' %}

    {% render 'button', text: 'Primary' %}

    {% render 'button', variant: 'secondary', text: 'Secondary' %}

    {% render 'button', variant: 'icon', icon: 'landmark' %}

    {% render 'text', text: 'Link', as: 'h2', variant: 'heading-large' %}

    {% render 'link', text: 'This is a link', url: '', external: true %}
  </div>
</section>
