<section
  class="
    Section
    Section--PaddingBlockLarge
    ColorScheme--{{ section.settings.color_scheme.id | camelcase }}
  "
>
  <div class="Section__Inner">
    {% render 'text', text: 'Test Section', as: 'h2', variant: 'heading-medium' %}

    <div class="TestSection">
      {% render 'text', text: 'Insert your test component here' %}

      {% capture slider_content %}
        {% for product in collections['plants'].products %}
          {% render 'product-card',
            product: product,
            title: product.title,
            image: product.featured_image,
            price: product.price,
            compare_at_price: product.compare_at_price,
            url: product.url
          %}
        {% endfor %}
      {% endcapture %}

      {% render 'slider', content: slider_content, slides_per_view_mobile: 2, slides_per_view_desktop: 4 %}

      {% capture slider_content %}
        {% for product in collections['plants'].products %}
          {% render 'product-card',
            product: product,
            title: product.title,
            image: product.featured_image,
            price: product.price,
            compare_at_price: product.compare_at_price,
            url: product.url
          %}
        {% endfor %}
      {% endcapture %}

      {% render 'slider', content: slider_content, slides_per_view_mobile: 1.6, slides_per_view_desktop: 3 %}

      {% capture slider_content %}
        {% for product in collections['plants'].products %}
          {% render 'product-card',
            product: product,
            title: product.title,
            image: product.featured_image,
            price: product.price,
            compare_at_price: product.compare_at_price,
            url: product.url
          %}
        {% endfor %}
      {% endcapture %}

      {% render 'slider', content: slider_content, slides_per_view_mobile: 1.3, slides_per_view_desktop: 2 %}
    </div>
  </div>
</section>

{% stylesheet %}
  .TestSection {
    display: flex;
    flex-direction: column;
    gap: var(--size-m);
  }
{% endstylesheet %}

{% schema %}
{
  "name": "Test Section",
  "disabled_on": {
    "groups": ["header", "footer", "aside"]
  },
  "settings": [
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "Color Scheme",
      "default": "default"
    }
  ],
  "presets": [
    {
      "name": "Test Section"
    }
  ]
}
{% endschema %}
