<section class="Section">
  <div class="Section__Inner">
    {% render 'text', text: 'Text', as: 'h2', variant: 'heading-large' %}

    {% render 'text', text: 'Text heading large', as: 'h2', variant: 'heading-large' %}

    {% render 'text', text: 'Text heading medium', as: 'h2', variant: 'heading-medium' %}

    {% render 'text', text: 'Text heading small', as: 'h2', variant: 'heading-small' %}

    {% render 'text', text: 'Text body large', variant: 'body-large' %}

    {% render 'text', text: 'Text body medium' %}

    {% render 'text', text: 'Text body small', variant: 'body-small' %}

    {% render 'text', text: 'Button', as: 'h2', variant: 'heading-large' %}

    {% render 'button', text: 'Primary' %}

    {% render 'drawer', name: 'cart' %}

    {% render 'button', variant: 'secondary', text: 'Secondary' %}

    {% render 'button', variant: 'icon', icon: 'landmark' %}

    {% render 'text', text: 'Link', as: 'h2', variant: 'heading-large' %}

    {% render 'link', text: 'This is a link', url: '', external: true %}

    {% render 'text', text: 'Image', as: 'h2', variant: 'heading-large' %}

    {% render 'text', text: 'Landscape', as: 'h2', variant: 'heading-medium' %}

    {% render 'image', image: images['Milo_Coffee_Table-1-1.webp'], variant: 'landscape' %}

    {% render 'text', text: 'Square', as: 'h2', variant: 'heading-medium' %}

    {% render 'image', image: images['Milo_Coffee_Table-1-2.webp'], variant: 'square' %}

    {% render 'text', text: 'Portrait', as: 'h2', variant: 'heading-medium' %}

    {% render 'image', image: images['Milo_Coffee_Table-1-3.webp'], variant: 'portrait' %}

    {% render 'text', text: 'Price List', as: 'h2', variant: 'heading-large' %}

    {% render 'price-list', price: 4999, compare_at_price: 7999 %}

    {% render 'text', text: 'Badge', as: 'h2', variant: 'heading-large' %}

    {% render 'text', text: 'Default', as: 'h2', variant: 'heading-medium' %}

    {% render 'badge', text: 'Bestseller' %}

    {% render 'text', text: 'Sale', as: 'h2', variant: 'heading-medium' %}

    {% render 'badge', text: 'Sale', variant: 'sale' %}

    {% render 'text', text: 'Product Card', as: 'h2', variant: 'heading-large' %}

    {% assign sample_product = all_products['arlo-lounge-chair'] %}

    {% render 'product-card',
      title: sample_product.title,
      image: sample_product.featured_image,
      url: sample_product.url,
      badge: 'Bestseller',
      compare_at_price: sample_product.compare_at_price,
      price: sample_product.price
    %}

    {% render 'text', text: 'Product List', as: 'h2', variant: 'heading-large' %}

    {% render 'product-list', products: collections.furniture.products %}

    {% render 'product-list', products: collections.furniture.products, columns_mobile: 1, columns_desktop: 3 %}

    {% render 'text', text: 'Collection Card', as: 'h2', variant: 'heading-large' %}

    {% assign sample_collection = collections.furniture %}

    {% render 'collection-card',
      image: sample_collection.featured_image,
      title: sample_collection.title,
      url: sample_collection.url,
      description: sample_collection.description
    %}
  </div>
</section>
