<section class="Section Section--PaddingBlockLarge">
  <div class="Section__Inner">
    <div class="InlineStack">
      {% render 'card' %}
      {% render 'card' %}
      {% render 'card' %}
      {% render 'card' %}
    </div>
  </div>
</section>
