.Section {
  padding: var(--section-padding-block) var(--section-padding-inline);
  background-color: var(--color-surface);
  color: var(--text-color);
}

.Section--BorderBottom {
  border-bottom: var(--border-width) var(--border-style) var(--border-color);
}

.Section__Inner {
  margin: 0 auto;
  max-width: var(--page-width);
}
