.Section {
  padding-inline: var(--section-padding-inline-mobile);
  background-color: var(--t-background-dark);
  color: var(--t-text);
}

.Section--BorderBottom {
  border-bottom: var(--border-width) var(--border-style) var(--t-border);
}

.Section--BoxShadow {
  box-shadow: var(--box-shadow);
}

.Section--PaddingBlockNone {
  padding-block: 0;
}

.Section--GradientBackground {
  background: var(--t-gradient-background-dark);
}

.Section--PaddingBlockSmall {
  padding-block: var(--section-padding-block-s);
}

.Section--PaddingBlockMedium {
  padding-block: var(--section-padding-block-m);
}

.Section--PaddingBlockLarge {
  padding-block: var(--section-padding-block-l);
}

.Section__Inner {
  margin: 0 auto;
  max-width: var(--page-width);
}

.Section--FullWidth {
  padding-inline: 0;
}

.Section--FullWidth .Section__Inner {
  max-width: 100%;
}

.Section--Narrow .Section__Inner {
  max-width: 600px;
}

@media screen and (min-width: 769px) {
  .Section:not(.Section--FullWidth) {
    padding-inline: var(--section-padding-inline-desktop);
  }
}
