.Select {
  padding: var(--size-xs) var(--size-s);
  border: var(--border-width) var(--border-style) var(--t-border);
  color: var(--t-text);
  background-color: var(--t-background);
  cursor: pointer;
}
