body {
  background-color: var(--t-background-dark);
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex: 1;
}

.MaybeStickySection:has(.Section--Sticky) {
  position: sticky;
  top: var(--sticky-top-offset, 0);
  z-index: var(--layer-2);
}

.Form {
  display: flex;
  flex-direction: column;
  gap: var(--size-xs);
}
