:root {
  /* ----- */
  /* Sizes */
  /* ----- */
  --size-0: 0px;
  --size-xs: 0.25rem;
  --size-s: 0.5rem;
  --size-m: 1rem;
  --size-l: 1.5rem;
  --size-xl: 2rem;
  --size-xxl: 3rem;

  /* ------ */
  /* Colors */
  /* ------ */

  /* ---------- */
  /* Typography */
  /* ---------- */

  /* -------- */
  /* Sections */
  /* -------- */

  /* Announcement Bar */
  --announcement-bar-padding-block: var(--size-m);
  --announcement-bar-padding-inline: var(--size-m);
  --announcement-bar-gap: var(--size-m);

  /* ---------- */
  /* Components */
  /* ---------- */

  /* Icon */
  --icon-size: 1.5rem;

  /* Icon with Text */
  --icon-with-text-gap: var(--size-m);
}

/* Dark mode overrides */
@media (prefers-color-scheme: dark) {
  :root {
    /* Colors */
  }
}
