:root {
  /* ------ */
  /* Layers */
  /* ------ */

  --layer-1: 1;
  --layer-2: 2;

  /* ----- */
  /* Sizes */
  /* ----- */

  --size-0: 0px;
  --size-xs: 0.25rem;
  --size-s: 0.5rem;
  --size-m: 1rem;
  --size-l: 1.5rem;
  --size-xl: 2rem;
  --size-xxl: 3rem;

  /* ---------- */
  /* Typography */
  /* ---------- */

  --font-family-body: var(--font-body-family);
  --font-family-heading: var(--font-heading-family);

  --font-weight-bold: 600;

  /* -------- */
  /* Sections */
  /* -------- */

  /* Announcement Bar */
  --announcement-bar-padding-block: var(--size-0);
  --announcement-bar-padding-inline: var(--size-0);
  --announcement-bar-gap: var(--size-l);

  /* Site Header */
  --site-header-padding-block: var(--size-0);
  --site-header-padding-inline: var(--size-0);

  /* ---------- */
  /* Components */
  /* ---------- */

  /* Button */
  --button-border-radius: 0;
  --button-font-size: 16px;
  --button-font-weight: 600;
  --button-letter-spacing: 2px;

  /* Drawer */
  --drawer-padding-block: var(--size-m);
  --drawer-padding-inline: var(--size-m);
  --drawer-width: 100%;
  --drawer-max-width: 24rem;

  /* Icon */
  --icon-size-xs: 0.75rem;
  --icon-size-s: 1rem;
  --icon-size-m: 1.5rem;
  --icon-size-l: 2rem;

  /* Icon with Text */
  --icon-with-text-gap: var(--size-s);

  /* Image */
  --image-fallback-gradient-start: #f0f0f0;
  --image-fallback-gradient-end: #f8f8f8;

  /* Modal */
  --modal-padding-top: var(--size-xxl);
  --modal-padding-bottom: var(--size-m);
  --modal-padding-inline: var(--size-m);
  --modal-width: 100%;
  --modal-max-width: 24rem;
  --modal-min-height: 4.5rem;
  --modal-max-height: 48rem;

  /* Product Option Value */
  --product-option-value-swatch-size: 3rem;
  --product-option-value-swatch-radius: 50%;
  --product-option-value-border-width-selected: 2px;

  /* Section */
  --section-padding-block-s: 1rem;
  --section-padding-block-m: 2rem;
  --section-padding-block-l: 4rem;
  --section-padding-inline-mobile: var(--size-m);
  --section-padding-inline-desktop: var(--size-xxl);

  /* Text */
  --text-font-family: var(--font-family-body);
  --heading-font-family: var(--font-family-heading);

  --text-size-body-small: 12px;
  --text-size-body-medium: 16px;
  --text-size-body-large: 24px;

  --text-size-heading-extra-small: 16px;
  --text-size-heading-small: 24px;
  --text-size-heading-medium: 32px;
  --text-size-heading-large: 40px;
  --text-size-heading-extra-large: 56px;
  --text-size-heading-ultra-large: 72px;

  --heading-line-height: 1.5;

  /* ------- */
  /* Details */
  /* ------- */

  --box-shadow: 0px 2px 2px hsla(0, 0%, 0%, 0.07), 0px 4px 4px hsla(0, 0%, 0%, 0.15);
  --border-width: 1px;
  --border-style: solid;
  --t-border-radius: 8px;
  --t-border-radius-circle: 50%;

  --transition-duration-short: 0.15s;
  --transition-duration-medium: 0.3s;
  --transition-timing: ease-in-out;
}
