.u-Hidden {
  display: none !important;
}

@media screen and (max-width: 768px) {
  .u-Hidden--Mobile {
    display: none !important;
  }
}

@media screen and (min-width: 769px) {
  .u-Hidden--Desktop {
    display: none !important;
  }
}

.u-NoList {
  list-style: none;
  padding: 0;
  margin: 0;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.u-NoScrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.u-NoScrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.u-SkeletonShimmer {
  background: linear-gradient(-45deg, #eee 40%, #fafafa 50%, #eee 60%);
  background-size: 300%;
  background-position-x: 100%;
  animation: shimmer 1s infinite linear;
}

@keyframes shimmer {
  to {
    background-position-x: 0%;
  }
}
