name: Deploy Shopify Theme

on:
  push:
    branches:
      - main
      - ci/github-action-fixes
  workflow_dispatch:

jobs:
  deploy:
    runs-on: ubuntu-latest
    env:
      SHOPIFY_FLAG_STORE: ${{ secrets.SHOPIFY_STORE }}
      SHOPIFY_CLI_THEME_TOKEN: ${{ secrets.THEME_ACCESS_PASSWORD }}
      SHOPIFY_FLAG_FORCE: 1

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: 20.10

      - name: Install Shopify CLI
        run: npm install -g @shopify/cli@3.89.0

      - name: Deploy and Publish Theme
        run: |
          # 1. Create a new theme from your code
          NEW_THEME_ID=$(shopify theme push \
            --store $SHOPIFY_FLAG_STORE \
            --password $SHOPIFY_CLI_THEME_TOKEN \
            --unpublished \
            --theme="CI-Deploy-${GITHUB_SHA::7}" \
            --json | jq -r '.id')

          echo "Successfully pushed to Theme ID: $NEW_THEME_ID"

          # 2. Make it the live theme
          shopify theme publish \
            --store $SHOPIFY_FLAG_STORE \
            --password $SHOPIFY_CLI_THEME_TOKEN \
            --theme=$NEW_THEME_ID \
            --force
