name: Deploy Shopify Theme

on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  deploy:
    runs-on: ubuntu-latest

    env:
      SHOPIFY_FLAG_STORE: ${{ secrets.SHOPIFY_STORE }}
      SHOPIFY_CLI_ADMIN_API_ACCESS_TOKEN: ${{ secrets.SHOPIFY_ADMIN_TOKEN }}

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: 18

      - name: Install Shopify CLI
        run: npm install -g @shopify/cli

      - name: Confirm shopify cli version and secrets injection
        run: |
          shopify version
          echo "Store: $SHOPIFY_FLAG_STORE"
          echo "Token set: ${SHOPIFY_CLI_ADMIN_API_ACCESS_TOKEN:+yes}"

      - name: Get live theme ID
        id: live_theme
        run: |
          CURRENT_LIVE_THEME_ID=$(shopify theme list --role=live -j | jq -r '.[0].id')

          if [ -z "$CURRENT_LIVE_THEME_ID" ] || [ "$CURRENT_LIVE_THEME_ID" = "null" ]; then
            echo "âŒ No live theme found or unable to retrieve live theme ID."
            exit 1
          fi

          echo "current_live_theme_id=$CURRENT_LIVE_THEME_ID" >> $GITHUB_OUTPUT

      - name: Duplicate live theme
        if: github.ref == 'refs/heads/main'
        id: duplicate
        run: |
          NEW_THEME_ID=$(shopify theme duplicate \
            --theme-id ${{ steps.live_theme.outputs.current_live_theme_id }} \
            --name "main-$(date +%Y%m%d-%H%M)-${GITHUB_SHA::7}" \
            --json | jq -r '.id')
          echo "new_theme_id=$NEW_THEME_ID" >> $GITHUB_OUTPUT

      - name: Push theme code to duplicated theme
        run: |
          shopify theme push \
            --theme-id ${{ steps.duplicate.outputs.new_theme_id }} \
            --unpublished \
            --force

      - name: Publish duplicated theme
        run: |
          shopify theme publish \
            --theme-id ${{ steps.duplicate.outputs.new_theme_id }}
